In [537]:
# Python 2 imports 
from __future__ import print_function, division 

import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 30)
pd.set_option("display.max_colwidth", 100)
pd.set_option("display.precision", 3)

plt.style.use('ggplot')
%matplotlib inline

In [538]:
CSV_PATH = r"/Users/alexcombs/Downloads/magic.csv"

In [539]:
df = pd.read_csv(CSV_PATH)

In [540]:
df.columns

Index([u'﻿routablemask_link', u'routablemask_link/_text',
       u'routablemask_link/_title', u'routablemask_link_numbers',
       u'routablemask_content', u'imagebadge_value',
       u'imagebadge_value_numbers', u'routable_link', u'routable_link/_text',
       u'routable_link/_title', u'routable_link_numbers', u'listingtype_value',
       u'pricelarge_value', u'pricelarge_value_prices', u'propertyinfo_value',
       u'propertyinfo_value_numbers', u'fineprint_value',
       u'fineprint_value_numbers', u'tozcount_number', u'tozfresh_value',
       u'tablegrouped_values', u'tablegrouped_values_prices', u'_PAGE_NUMBER'],
      dtype='object')

In [541]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,...,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499
﻿routablemask_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,"http://www.zillow.com/b/159-Prince-St-New-York-NY/40.72612,-74.00114_ll/",http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,"http://www.zillow.com/b/580-St-Nicholas-Ave-New-York-NY/40.81996,-73.94624_ll/","http://www.zillow.com/b/315-W-21st-St-New-York-NY/40.74427,-73.99991_ll/",http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,"http://www.zillow.com/b/417-E-82nd-St-New-York-NY/40.77406,-73.9501_ll/",...,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,"http://www.zillow.com/b/209-W-102nd-St-New-York-NY/40.79841,-73.96825_ll/","http://www.zillow.com/b/171-E-84th-St-New-York-NY/40.777797,-73.95494_ll/",http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,"http://www.zillow.com/b/233-E-77th-St-New-York-NY/40.77267,-73.95695_ll/",http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,"http://www.zillow.com/b/9-E-118th-St-New-York-NY/40.80185,-73.94463_ll/","http://www.zillow.com/b/160-W-71st-St-New-York-NY/40.77736,-73.98091_ll/","http://www.zillow.com/b/562-W-End-Ave-New-York-NY/40.78965,-73.97688_ll/",http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,"http://www.zillow.com/b/325-E-48th-St-New-York-NY/40.7533,-73.96807_ll/",http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,5 photos,10 photos,NaN,9 photos,5 photos,7 photos,3 photos,NaN,7 photos,1 photo,NaN,9 photos,4 photos,6 photos,3 photos,...,5 photos,6 photos,NaN,7 photos,5 photos,5 photos,5 photos,4 photos,7 photos,1 photo,NaN,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,5,10,NaN,9,5,7,3,NaN,7,1,NaN,9,4,6,3,...,5,6,NaN,7,5,5,5,4,7,1,NaN,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,5 photos,10 photos,NaN,9 photos,5 photos,7 photos,3 photos,NaN,7 photos,1 photo,NaN,9 photos,4 photos,6 photos,3 photos,...,5 photos,6 photos,NaN,7 photos,5 photos,5 photos,5 photos,4 photos,7 photos,1 photo,NaN,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,5,10,NaN,9,5,7,3,NaN,7,1,NaN,9,4,6,3,...,5,6,NaN,7,5,5,5,4,7,1,NaN,4,4,4,1
routable_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,"http://www.zillow.com/b/159-Prince-St-New-York-NY/40.72612,-74.00114_ll/",http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,"http://www.zillow.com/b/580-St-Nicholas-Ave-New-York-NY/40.81996,-73.94624_ll/","http://www.zillow.com/b/315-W-21st-St-New-York-NY/40.74427,-73.99991_ll/",http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,"http://www.zillow.com/b/417-E-82nd-St-New-York-NY/40.77406,-73.9501_ll/",...,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,"http://www.zillow.com/b/209-W-102nd-St-New-York-NY/40.79841,-73.96825_ll/","http://www.zillow.com/b/171-E-84th-St-New-York-NY/40.777797,-73.95494_ll/",http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,"http://www.zillow.com/b/233-E-77th-St-New-York-NY/40.77267,-73.95695_ll/",http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,"http://www.zillow.com/b/9-E-118th-St-New-York-NY/40.80185,-73.94463_ll/","http://www.zillow.com/b/160-W-71st-St-New-York-NY/40.77736,-73.98091_ll/","http://www.zillow.com/b/562-W-End-Ave-New-York-NY/40.78965,-73.97688_ll/",http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,"http://www.zillow.com/b/325-E-48th-St-New-York-NY/40.7533,-73.96807_ll/",http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,2 Ellwood St,603 W 140th St,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035",159 Prince St,"217 Thompson St APT 6, New York, NY10012",580 St Nicholas Ave,315 W 21st St,"340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023",417 E 82nd St,...,"319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065",209 W 102nd St,171 E 84th St,"303 E 73rd St # E, New York, NY10021",233 E 77th St,"422 E 81st St APT 4A, New York, NY10028",9 E 118th St,160 W 71st St,562 W End Ave,"445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035",325 E 48th St,"434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"2 Ellwood St APT 5H, New York, NY Real Estate","603 W 140th St APT 44, New York, NY Real Estate","9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","159 Prince St APT 2, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","580 St Nicholas Ave APT 1M, New York, NY Real Estate","315 W 21st St APT 2C, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","417 E 82nd St APT 4C, New York, NY Real Estate",...,"319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","209 W 102nd St # 3R, New York, NY Real Estate","171 E 84th St APT 19E, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","233 E 77th St # 1, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","9 E 118th St APT A, New York, NY Real Estate","160 W 71st St APT 14B, New York, NY Real Estate","562 W End Ave APT 7D, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","325 E 48th St # 22, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,2,603; 140,9; 129; 1,710; 2,413; 84; 8,324; 6,159,217; 6,580,315; 21,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,417; 82,...,319; 53; 2,53; 3,25; 67; 8,209; 102,171; 84,303; 73,233; 77,422; 81; 4,9; 118,160; 71,562,445; 49; 3,203; 121; 901,325; 48,434; 72; 2
listingtype_value,Apartments For Rent,Apartments For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartments For Rent,Apartment For Rent,Apartments For Rent,Apartments For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartments For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartments For Rent,Apartments For Rent,Apartment For Rent,Apartments For Rent,Apartment For Rent,Apartments For Rent,Apartments For Rent,Apartments For Rent,Apartment For Rent,Apartment For Rent,Apartments For Rent,Apartment For Rent
pricelarge_value,NaN,NaN,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo",NaN,"$2,800/mo",NaN,NaN,"$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo",NaN,...,"$2,170/mo","$2,300/mo","$2,600/mo",NaN,NaN,"$2,265/mo",NaN,"$2,150/mo",NaN,NaN,NaN,"$2,195/mo","$1,795/mo",NaN,"$2,150/mo"
pricelarge_value_prices,NaN,NaN,1.75e+03,3e+03,2.3e+03,2.5e+03,NaN,2.8e+03,NaN,NaN,2.49e+03,2.75e+03,2.15e+03,2.88e+03,NaN,...,2.17e+03,2.3e+03,2.6e+03,NaN,NaN,2.26e+03,NaN,2.15e+03,NaN,NaN,NaN,2.2e+03,1.8e+03,NaN,2.15e+03
propertyinfo_value,"2 Ellwood St, New York, NY","603 W 140th St, New York, NY",1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,"159 Prince St, New York, NY",2 bds • 1 ba,"580 St Nicholas Ave, New York, NY","315 W 21st St, New York, NY",1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,"417 E 82nd St, New York, NY",...,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,"209 W 102nd St, New York, NY","171 E 84th St, New York, NY",1 bd • 1 ba,"233 E 77th St, New York, NY",1 bd • 1 ba,"9 E 118th St, New York, NY","160 W 71st St, New York, NY","562 W End Ave, New York, NY",Studio • 1 ba,Studio • 1 ba • 550 sqft,"325 E 48th St, New York, NY",1 bd • 1 ba
propertyinfo_value_numbers,2,603; 140,1; 1,2; 2; 1016,1,2; 1,159,2; 1,580,315; 21,1; 1,1; 1; 496; 4502; 1900,1,1; 1,417; 82,...,1,1; 400,1,209; 102,171; 84,1; 1,233; 77,1; 1,9; 118,160; 71,562,1,1; 550,325; 48,1; 1
fineprint_value,6 matching units,2 matching units,NaN,NaN,NaN,NaN,4 matching units,NaN,3 matching units,2 matching units,NaN,NaN,NaN,NaN,3 matching units,...,NaN,NaN,NaN,2 matching units,2 matching units,NaN,3 matching units,NaN,4 matching units,3 matching units,3 matching units,NaN,NaN,2 matching units,NaN
fineprint_value_numbers,6,2,NaN,NaN,NaN,NaN,4,NaN,3,2,NaN,NaN,NaN,NaN,3,...,NaN,NaN,NaN,2,2,NaN,3,NaN,4,3,3,NaN,NaN,2,NaN
tozcount_number,NaN,NaN,48,1,2,2,NaN,3,NaN,NaN,6,6,6,6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,Updated today,Updated today,minutes ago,hour ago,hours ago,hours ago,Updated today,hours ago,Updated today,Updated today,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,"1 Bedrooms $1,500+ 1.0 ba -- sqft; 2 Bedrooms $1,750+ 1.0 ba -- sqft","1 Bedrooms $2,100 1.0 ba 800 sqft; 2 Bedrooms $2,595 1.0 ba 1,000 sqft",NaN,NaN,NaN,NaN,"1 Bedrooms $2,650+ 1.0 ba -- sqft",NaN,"1 Bedrooms $1,900+ 1.0 ba -- sqft","Studios $2,675+ 1.0 ba -- sqft",NaN,NaN,NaN,NaN,"Studios $2,000+ 1.0 ba -- sqft",...,NaN,NaN,NaN,"2 Bedrooms $2,925+ 1.0 ba -- sqft","Studios $2,800 1.0 ba 621 sqft; 1 Bedrooms $2,850 1.0 ba 636 sqft",NaN,"1 Bedrooms $1,944+ 1.0 ba -- sqft",NaN,"1 Bedrooms $2,150+ 1.0 ba -- sqft; 2 Bedrooms $2,738+ 1.0 ba -- sqft","1 Bedrooms $2,931+ 1.0 ba -- sqft","Studios $2,950 1.0 ba -- sqft; 1 Bedrooms $2,800+ 1.0 ba -- sqft",NaN,NaN,"Studios $2,195+ 1.0 ba -- sqft",NaN
tablegrouped_values_prices,1500; 1750,2100; 2595,NaN,NaN,NaN,NaN,2650,NaN,1900,2675,NaN,NaN,NaN,NaN,2000,...,NaN,NaN,NaN,2925,2800; 2850,NaN,1944,NaN,2150; 2738,2931,2950; 2800,NaN,NaN,2195,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20

In [542]:
df.T.ix[:,1:2]

,1,2
﻿routablemask_link,"http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/
routablemask_link/_text,10 photos,NaN
routablemask_link/_title,NaN,NaN
routablemask_link_numbers,10,NaN
routablemask_content,NaN,NaN
imagebadge_value,10 photos,NaN
imagebadge_value_numbers,10,NaN
routable_link,"http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/
routable_link/_text,603 W 140th St,"9 E 129th St # 1, New York, NY10035"
routable_link/_title,"603 W 140th St APT 44, New York, NY Real Estate","9 E 129th St # 1, New York, NY Real Estate"
routable_link_numbers,603; 140,9; 129; 1
listingtype_value,Apartments For Rent,Apartment For Rent
pricelarge_value,NaN,"$1,750/mo"
pricelarge_value_prices,NaN,1.75e+03
propertyinfo_value,"603 W 140th St, New York, NY",1 bd • 1 ba
propertyinfo_value_numbers,603; 140,1; 1
fineprint_value,2 matching units,NaN
fineprint_value_numbers,2,NaN
tozcount_number,NaN,48
tozfresh_value,Updated today,minutes ago
tablegrouped_values,"1 Bedrooms $2,100 1.0 ba 800 sqft; 2 Bedrooms $2,595 1.0 ba 1,000 sqft",NaN
tablegrouped_values_prices,2100; 2595,NaN
_PAGE_NUMBER,1,1

In [543]:
nn = df[df['routable_link/_text'].str.contains('203 Rivington')|df['routable_link/_text'].str.contains('280 E 2nd')]

In [544]:
nn[:2].T

,28,30
﻿routablemask_link,"http://www.zillow.com/b/203-Rivington-St-New-York-NY/40.71825,-73.98307_ll/",http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/
routablemask_link/_text,7 photos,4 photos
routablemask_link/_title,NaN,NaN
routablemask_link_numbers,7,4
routablemask_content,NaN,NaN
imagebadge_value,7 photos,4 photos
imagebadge_value_numbers,7,4
routable_link,"http://www.zillow.com/b/203-Rivington-St-New-York-NY/40.71825,-73.98307_ll/",http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/
routable_link/_text,203 Rivington St,"280 E 2nd St # 604, New York, NY10009"
routable_link/_title,"203 Rivington St APT 5B, New York, NY Real Estate","280 E 2nd St # 604, New York, NY Real Estate"
routable_link_numbers,203,280; 2; 604
listingtype_value,Apartments For Rent,Apartment For Rent
pricelarge_value,NaN,"$2,850/mo"
pricelarge_value_prices,NaN,2.85e+03
propertyinfo_value,"203 Rivington St, New York, NY",1 bd • 1 ba
propertyinfo_value_numbers,203,1; 1
fineprint_value,2 matching units,NaN
fineprint_value_numbers,2,NaN
tozcount_number,NaN,NaN
tozfresh_value,NaN,NaN
tablegrouped_values,"1 Bedrooms $3,000 1.0 ba 750 sqft; 2 Bedrooms $3,000 1.0 ba -- sqft",NaN
tablegrouped_values_prices,3000; 3000,NaN
_PAGE_NUMBER,2,2

In [545]:
# multiple units
mu = df[df['listingtype_value'].str.contains('Apartments For')]

In [546]:
# single units
su = df[df['listingtype_value'].str.contains('Apartment For')]

In [547]:
len(mu)

161

In [548]:
len(su)

339

In [549]:
su.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
﻿routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20

In [550]:
len(su[su['pricelarge_value_prices'].isnull()])

0

In [551]:
su['propertyinfo_value']

2                                               1 bd • 1 ba
3                                 2 bds • 2 ba • 1,016 sqft
4                                             Studio • 1 ba
5                                              2 bds • 1 ba
7                                              2 bds • 1 ba
10                                              1 bd • 1 ba
11     1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900
12                                            Studio • 1 ba
13                                              1 bd • 1 ba
17                                              1 bd • 1 ba
18                                            Studio • 1 ba
19                                              1 bd • 1 ba
20                                   1 bd • 1 ba • 700 sqft
21                                              1 bd • 1 ba
23                                 Studio • 1 ba • 487 sqft
24                                             2 bds • 1 ba
27                                   1 bd • 1 ba • 525 sqft
29                                  2 bds • 1 ba • 650 sqft
30                                              1 bd • 1 ba
33                                              1 bd • 1 ba
36                                            Studio • 1 ba
38                                              1 bd • 1 ba
40                    Studio • 1 ba • 406 sqft • Built 1903
42                  Studio • 1 ba • 350 sqft • 465 sqft lot
44                                            Studio • 1 ba
45                                 Studio • 1 ba • 400 sqft
46                      1 bd • 1 ba • 600 sqft • Built 1989
47                                              1 bd • 1 ba
48                                              1 bd • 1 ba
49                      1 bd • 1 ba • 596 sqft • Built 1959
52                                   1 bd • 1 ba • 525 sqft
54                                  2 bds • 1 ba • 650 sqft
55                                              1 bd • 1 ba
58                                              1 bd • 1 ba
61                                            Studio • 1 ba
63                                              1 bd • 1 ba
65                    Studio • 1 ba • 406 sqft • Built 1903
67                  Studio • 1 ba • 350 sqft • 465 sqft lot
69                                            Studio • 1 ba
70                                 Studio • 1 ba • 400 sqft
71                      1 bd • 1 ba • 600 sqft • Built 1989
72                                              1 bd • 1 ba
73                                              1 bd • 1 ba
74                      1 bd • 1 ba • 596 sqft • Built 1959
75                                            Studio • 1 ba
76                               Studio • 1 ba • Built 1987
78                                  2 bds • 1 ba • 600 sqft
79                                             2 bds • 1 ba
80                                              1 bd • 1 ba
82                                              1 bd • 1 ba
83                    Studio • 1 ba • 515 sqft • Built 1985
84                                                   Studio
85                               Studio • 1 ba • Built 1910
86                                 Studio • 1 ba • 450 sqft
88                                              1 bd • 1 ba
89                                              1 bd • 1 ba
90                                   1 bd • 1 ba • 650 sqft
91                               Studio • 1 ba • Built 1900
92                                2 bds • 1 ba • Built 1900
94                                 Studio • 1 ba • 535 sqft
97                                 Studio • 1 ba • 541 sqft
100                                           Studio • 1 ba
103                                  1 bd • 1 ba • 650 sqft
106                                                    1 bd
107                                            2 bds • 1 ba
108                                             1 bd • 1 ba
109                                             1 bd • 1 ba
110                                           Studio • 1 ba
111                                  1 bd • 1 ba • 550 sqft
115                                             1 bd • 1 ba
116                                            2 bds • 1 ba
118                                Studio • 1 ba • 483 sqft
120                     1 bd • 1 ba • 326 sqft • Built 1900
121                                1 bd • 1 ba • Built 1930
127                                  1 bd • 1 ba • 475 sqft
                               ...
381                                Studio • 1 ba • 440 sqft
382                                           Studio • 1 ba
383              2 bds • 2 ba • 1,090 sqft • 2,475 sqft lot
384                                Studio • 1 ba • 425 sqft
386                                            2 bds • 1 ba
387                                           Studio • 1 ba
389                                            2 bds • 1 ba
390                                           Studio • 1 ba
391                                             1 bd • 1 ba
394                                  1 bd • 1 ba • 450 sqft
395                              1 bd • 1 ba • 510 sqft lot
396                                  1 bd • 1 ba • 750 sqft
399                                             1 bd • 1 ba
400                                          2 bds • 1.5 ba
401                                             1 bd • 1 ba
402                                             1 bd • 1 ba
403                                Studio • 1 ba • 421 sqft
405                    2 bds • 1 ba • 685 sqft • Built 1906
406                                1 bd • 1 ba • Built 1947
408                                             1 bd • 1 ba
409                                            2 bds • 1 ba
411                                           Studio • 1 ba
412                                           Studio • 1 ba
414                                           Studio • 1 ba
415                                             1 bd • 1 ba
416                                  1 bd • 1 ba • 650 sqft
418                                             1 bd • 1 ba
419                                             1 bd • 1 ba
421                                           Studio • 1 ba
424                                            2 bds • 1 ba
425                                             1 bd • 1 ba
426                                  1 bd • 1 ba • 400 sqft
428                     1 bd • 1 ba • 400 sqft • Built 1957
429                                             1 bd • 1 ba
430                                            3 bds • 1 ba
433                                             1 bd • 1 ba
436                                           Studio • 1 ba
437                                           Studio • 1 ba
438                                           Studio • 1 ba
442                                Studio • 1 ba • 500 sqft
443                                            2 bds • 1 ba
446                                           Studio • 1 ba
447                                             1 bd • 1 ba
448                                            2 bds • 1 ba
449                                Studio • 1 ba • 432 sqft
450                                 2 bds • 1 ba • 900 sqft
451                                            2 bds • 1 ba
452                                             1 bd • 1 ba
453                                             1 bd • 1 ba
454                                             1 bd • 1 ba
457     Studio • 1 ba • 540 sqft • 2.00 ac lot • Built 1961
458                                            2 bds • 1 ba
459                                           Studio • 1 ba
460                                             1 bd • 1 ba
461                                           Studio • 1 ba
462                              Studio • 1 ba • Built 1993
464                   Studio • 1 ba • 485 sqft • Built 1962
466                                 2 bds • 1 ba • 600 sqft
467                   Studio • 1 ba • 522 sqft • Built 2013
468                   Studio • 1 ba • 480 sqft • Built 1998
470                                           Studio • 1 ba
471                                           Studio • 1 ba
475                     1 bd • 1 ba • 475 sqft • Built 1900
477                                           Studio • 1 ba
479                                  1 bd • 1 ba • 500 sqft
483                                            2 bds • 1 ba
484                                            2 bds • 1 ba
485                                           Studio • 1 ba
486                                Studio • 1 ba • 400 sqft
487                                           Studio • 1 ba
490                                             1 bd • 1 ba
492                                             1 bd • 1 ba
496                                           Studio • 1 ba
497                                Studio • 1 ba • 550 sqft
499                                             1 bd • 1 ba
Name: propertyinfo_value, dtype: object

In [552]:
# check the number of rows that do not contain 'bd' or 'Studio'
len(su[~(su['propertyinfo_value'].str.contains('Studio')|su['propertyinfo_value'].str.contains('bd'))])

0

In [553]:
# check the number of row that do not contain 'ba'
len(su[~(su['propertyinfo_value'].str.contains('ba'))])

6

In [554]:
# select those listings with a bath
no_baths = su[~(su['propertyinfo_value'].str.contains('ba'))]

In [555]:
# exclude those missing bathroom info
sucln = su[~su.index.isin(no_baths.index)]

In [556]:
sucln

,﻿routablemask_link,routablemask_link/_text,routablemask_link/_title,routablemask_link_numbers,routablemask_content,imagebadge_value,imagebadge_value_numbers,routable_link,routable_link/_text,routable_link/_title,routable_link_numbers,listingtype_value,pricelarge_value,pricelarge_value_prices,propertyinfo_value,propertyinfo_value_numbers,fineprint_value,fineprint_value_numbers,tozcount_number,tozfresh_value,tablegrouped_values,tablegrouped_values_prices,_PAGE_NUMBER
2,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,"9 E 129th St # 1, New York, NY10035","9 E 129th St # 1, New York, NY Real Estate",9; 129; 1,Apartment For Rent,"$1,750/mo",1750,1 bd • 1 ba,1; 1,NaN,NaN,48,minutes ago,NaN,NaN,1
3,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,9 photos,NaN,9,NaN,9 photos,9,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,"710 Riverside Dr APT 2C, New York, NY10031","710 Riverside Dr APT 2C, New York, NY Real Estate",710; 2,Apartment For Rent,"$3,000/mo",3000,"2 bds • 2 ba • 1,016 sqft",2; 2; 1016,NaN,NaN,1,hour ago,NaN,NaN,1
4,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,5 photos,NaN,5,NaN,5 photos,5,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,"413 E 84th St APT 8, New York, NY10028","413 E 84th St APT 8, New York, NY Real Estate",413; 84; 8,Apartment For Rent,"$2,300/mo",2300,Studio • 1 ba,1,NaN,NaN,2,hours ago,NaN,NaN,1
5,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,7 photos,NaN,7,NaN,7 photos,7,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,"324 Pleasant Ave APT 6E, New York, NY10035","324 Pleasant Ave APT 6E, New York, NY Real Estate",324; 6,Apartment For Rent,"$2,500/mo",2500,2 bds • 1 ba,2; 1,NaN,NaN,2,hours ago,NaN,NaN,1
7,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,"217 Thompson St APT 6, New York, NY10012","217 Thompson St APT 6, New York, NY Real Estate",217; 6,Apartment For Rent,"$2,800/mo",2800,2 bds • 1 ba,2; 1,NaN,NaN,3,hours ago,NaN,NaN,1
10,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,"340 W 47th St APT 4C, New York, NY10036","340 W 47th St APT 4C, New York, NY Real Estate",340; 47; 4,Apartment For Rent,"$2,490/mo",2490,1 bd • 1 ba,1; 1,NaN,NaN,6,hours ago,NaN,NaN,1
11,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,9 photos,NaN,9,NaN,9 photos,9,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,"1356 1st Ave APT 5B, New York, NY10021","1356 1st Ave APT 5B, New York, NY Real Estate",1356; 1; 5,Apartment For Rent,"$2,750/mo",2750,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",1; 1; 496; 4502; 1900,NaN,NaN,6,hours ago,NaN,NaN,1
12,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,4 photos,NaN,4,NaN,4 photos,4,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,"101 W 77th St APT 3C, New York, NY10024","101 W 77th St APT 3C, New York, NY Real Estate",101; 77; 3,Apartment For Rent,"$2,150/mo",2150,Studio • 1 ba,1,NaN,NaN,6,hours ago,NaN,NaN,1
13,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,6 photos,NaN,6,NaN,6 photos,6,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,"111 W 74th St APT 2R, New York, NY10023","111 W 74th St APT 2R, New York, NY Real Estate",111; 74; 2,Apartment For Rent,"$2,875/mo",2875,1 bd • 1 ba,1; 1,NaN,NaN,6,hours ago,NaN,NaN,1
17,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,"646 10th Ave APT 4B, New York, NY10036","646 10th Ave APT 4B, New York, NY Real Estate",646; 10; 4,Apartment For Rent,"$2,225/mo",2225,1 bd • 1 ba,1; 1,NaN,NaN,6,hours ago,NaN,NaN,1
18,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,4 photos,NaN,4,NaN,4 photos,4,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,"76 Carmine St APT 4C, New York, NY10014","76 Carmine St APT 4C, New York, NY Real Estate",76; 4,Apartment For Rent,"$2,450/mo",2450,Studio • 1 ba,1,NaN,NaN,7,hours ago,NaN,NaN,1
19,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,6 photos,NaN,6,NaN,6 photos,6,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,"146 W 120th St APT 8, New York, NY10027","146 W 120th St APT 8, New York, NY Real Estate",146; 120; 8,Apartment For Rent,"$1,800/mo",1800,1 bd • 1 ba,1; 1,NaN,NaN,9,hours ago,NaN,NaN,1
20,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,10 photos,NaN,10,NaN,10 photos,10,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,"137 W 72nd St APT 4FE, New York, NY10023","137 W 72nd St APT 4FE, New York, NY Real Estate",137; 72; 4,Apartment For Rent,"$2,850/mo",2850,1 bd • 1 ba • 700 sqft,1; 1; 700,NaN,NaN,9,hours ago,NaN,NaN,1
21,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,6 photos,NaN,6,NaN,6 photos,6,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,"178 Avenue B # 2, New York, NY10009","178 Avenue B # 2, New York, NY Real Estate",178; 2,Apartment For Rent,"$2,700/mo",2700,1 bd • 1 ba,1; 1,NaN,NaN,10,hours ago,NaN,NaN,1
23,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,17 photos,NaN,17,NaN,17 photos,17,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,"95 Wall St, New York, NY","95 Wall, Studio E1O Real Estate",95,Apartment For Rent,"$3,000+/mo",3000,Studio • 1 ba • 487 sqft,1; 487,NaN,NaN,NaN,Updated today,NaN,NaN,1
24,http://www.zillow.com/homedetails/129-Rivington-St-FRNT-2F-New-York-NY-10002/2100765545_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/129-Rivington-St-FRNT-2F-New-York-NY-10002/2100765545_zpid/,"129 Rivington St FRNT 2F, New York, NY10002","129 Rivington St FRNT 2F, New York, NY Real Estate",129; 2,Apartment For Rent,"$2,995/mo",2995,2 bds • 1 ba,2; 1,NaN,NaN,18,hours ago,NaN,NaN,1
27,http://www.zillow.com/homedetails/211-E-4th-St-APT-3-New-York-NY-10009/2119571597_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/211-E-4th-St-APT-3-New-York-NY-10009/2119571597_zpid/,"211 E 4th St APT 3, New York, NY10009","211 E 4th St APT 3, New York, NY Real Estate",211; 4; 3,Apartment For Rent,"$2,700/mo",2700,1 bd • 1 ba • 525 sqft,1; 1; 525,NaN,NaN,NaN,NaN,NaN,NaN,2
29,http://www.zillow.com/homedetails/52-Allen-St-3-New-York-NY-10002/2100767061_zpid/,11 photos,NaN,11,NaN,11 photos,11,http://www.zillow.com/homedetails/52-Allen-St-3-New-York-NY-10002/2100767061_zpid/,"52 Allen St # 3, New York, NY10002","52 Allen St # 3, New York, NY Real Estate",52; 3,Apartment For Rent,"$2,800/mo",2800,2 bds • 1 ba • 650 sqft,2; 1; 650,NaN,NaN,NaN,NaN,NaN,NaN,2
30,http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/,4 photos,NaN,4,NaN,4 photos,4,http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/,"280 E 2nd St # 604, New York, NY10009","280 E 2nd St # 604, New York, NY Real Estate",280; 2; 604,Apartment For Rent,"$2,850/mo",2850,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,2
33,http://www.zillow.com/homedetails/201-Allen-St-2R-New-York-NY-10002/2100769330_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/201-Allen-St-2R-New-York-NY-10002/2100769330_zpid/,"201 Allen St # 2R, New York, NY10002","201 Allen St # 2R, New York, NY Real Estate",201; 2,Apartment For Rent,"$2,199/mo",2199,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,2
36,http://www.zillow.com/homedetails/74-Leonard-St-APT-2B-New-York-NY-10013/2100769387_zpid/,7 photos,NaN,7,NaN,7 photos,7,http://www.zillow.com/homedetails/74-Leonard-St-APT-2B-New-York-NY-10013/2100769387_zpid/,"74 Leonard St APT 2B, New York, NY10013","74 Leonard St APT 2B, New York, NY Real Estate",74; 2,Apartment For Rent,"$2,895/mo",2895,Studio • 1 ba,1,NaN,NaN,NaN,NaN,NaN,NaN,2
38,http://www.zillow.com/homedetails/70-Orchard-St-APT-6-New-York-NY-10002/2100774367_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/70-Orchard-St-APT-6-New-York-NY-10002/2100774367_zpid/,"70 Orchard St APT 6, New York, NY10002","70 Orchard St APT 6, New York, NY Real Estate",70; 6,Apartment For Rent,"$2,200/mo",2200,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,2
40,http://www.zillow.com/homedetails/1-West-St-APT-2040-New-York-NY-10004/2127108261_zpid/,11 photos,NaN,11,NaN,11 photos,11,http://www.zillow.com/homedetails/1-West-St-APT-2040-New-York-NY-10004/2127108261_zpid/,"1 West St APT 2040, New York, NY10004","1 West St APT 2040, New York, NY Real Estate",1; 2040,Apartment For Rent,"$2,600/mo",2600,Studio • 1 ba • 406 sqft • Built 1903,1; 406; 1903,NaN,NaN,NaN,NaN,NaN,NaN,2
42,http://www.zillow.com/homedetails/166-W-76th-St-APT-4E-New-York-NY-10023/2118825231_zpid/,5 photos,NaN,5,NaN,5 photos,5,http://www.zillow.com/homedetails/166-W-76th-St-APT-4E-New-York-NY-10023/2118825231_zpid/,"166 W 76th St APT 4E, New York, NY10023","166 W 76th St APT 4E, New York, NY Real Estate",166; 76; 4,Apartment For Rent,"$2,300/mo",2300,Studio • 1 ba • 350 sqft • 465 sqft lot,1; 350; 465,NaN,NaN,12,hours ago,NaN,NaN,2
44,http://www.zillow.com/homedetails/72-W-87th-St-1D-New-York-NY-10024/2100763839_zpid/,1 photo,NaN,1,NaN,1 photo,1,http://www.zillow.com/homedetails/72-W-87th-St-1D-New-York-NY-10024/2100763839_zpid/,"72 W 87th St # 1D, New York, NY10024","72 W 87th St # 1D, New York, NY Real Estate",72; 87; 1,Apartment For Rent,"$2,400/mo",2400,Studio • 1 ba,1,NaN,NaN,12,hours ago,NaN,NaN,2
45,http://www.zillow.com/homedetails/310-W-78th-St-3BB-New-York-NY-10024/2100763841_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/310-W-78th-St-3BB-New-York-NY-10024/2100763841_zpid/,"310 W 78th St # 3BB, New York, NY10024","310 W 78th St # 3BB, New York, NY Real Estate",310; 78; 3,Apartment For Rent,"$2,195/mo",2195,Studio • 1 ba • 400 sqft,1; 400,NaN,NaN,12,hours ago,NaN,NaN,2
46,http://www.zillow.com/homedetails/301-W-110th-St-APT-3F-New-York-NY-10026/31550221_zpid/,11 photos,NaN,11,NaN,11 photos,11,http://www.zillow.com/homedetails/301-W-110th-St-APT-3F-New-York-NY-10026/31550221_zpid/,"301 W 110th St APT 3F, New York, NY10026","301 W 110th St APT 3F, New York, NY Real Estate",301; 110; 3,Apartment For Rent,"$2,800/mo",2800,1 bd • 1 ba • 600 sqft • Built 1989,1; 1; 600; 1989,NaN,NaN,12,hours ago,NaN,NaN,2
47,http://www.zillow.com/homedetails/115-W-57th-St-APT-4F-New-York-NY-10019/2118533935_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/115-W-57th-St-APT-4F-New-York-NY-10019/2118533935_zpid/,"115 W 57th St APT 4F, New York, NY10019","115 W 57th St APT 4F, New York, NY Real Estate",115; 57; 4,Apartment For Rent,"$2,495/mo",2495,1 bd • 1 ba,1; 1,NaN,NaN,14,hours ago,NaN,NaN,2
48,http://www.zillow.com/homedetails/438-E-66th-St-4-New-York-NY-10065/2106344724_zpid/,4 photos,NaN,4,NaN,4 photos,4,http://www.zillow.com/homedetails/438-E-66th-St-4-New-York-NY-10065/2106344724_zpid/,"438 E 66th St # 4, New York, NY10065","438 E 66th St # 4, New York, NY Real Estate",438; 66; 4,Apartment For Rent,"$1,900/mo",1900,1 bd • 1 ba,1; 1,NaN,NaN,14,hours ago,NaN,NaN,2
49,http://www.zillow.com/homedetails/30-W-141st-St-APT-6C-New-York-NY-10037/2112163749_zpid/,9 photos,NaN,9,NaN,9 photos,9,http://www.zillow.com/homedetails/30-W-141st-St-APT-6C-New-York-NY-10037/2112163749_zpid/,"30 W 141st St APT 6C, New York, NY10037","30 W 141st St APT 6C, New York, NY Real Estate",30; 141; 6,Apartment For Rent,"$1,815/mo",1815,1 bd • 1 ba • 596 sqft • Built 1959,1; 1; 596; 1959,NaN,NaN,14,hours ago,NaN,NaN,2
52,http://www.zillow.com/homedetails/211-E-4th-St-APT-3-New-York-NY-10009/2119571597_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/211-E-4th-St-APT-3-New-York-NY-10009/2119571597_zpid/,"211 E 4th St APT 3, New York, NY10009","211 E 4th St APT 3, New York, NY Real Estate",211; 4; 3,Apartment For Rent,"$2,700/mo",2700,1 bd • 1 ba • 525 sqft,1; 1; 525,NaN,NaN,NaN,NaN,NaN,NaN,3
54,http://www.zillow.com/homedetails/52-Allen-St-3-New-York-NY-10002/2100767061_zpid/,11 photos,NaN,11,NaN,11 photos,11,http://www.zillow.com/homedetails/52-Allen-St-3-New-York-NY-10002/2100767061_zpid/,"52 Allen St # 3, New York, NY10002","52 Allen St # 3, New York, NY Real Estate",52; 3,Apartment For Rent,"$2,800/mo",2800,2 bds • 1 ba • 650 sqft,2; 1; 650,NaN,NaN,NaN,NaN,NaN,NaN,3
55,http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/,4 photos,NaN,4,NaN,4 photos,4,http://www.zillow.com/homedetails/280-E-2nd-St-604-New-York-NY-10009/2100767100_zpid/,"280 E 2nd St # 604, New York, NY10009","280 E 2nd St # 604, New York, NY Real Estate",280; 2; 604,Apartment For Rent,"$2,850/mo",2850,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,3
58,http://www.zillow.com/homedetails/201-Allen-St-2R-New-York-NY-10002/2100769330_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/201-Allen-St-2R-New-York-NY-10002/2100769330_zpid/,"201 Allen St # 2R, New York, NY10002","201 Allen St # 2R, New York, NY Real Estate",201; 2,Apartment For Rent,"$2,199/mo",2199,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,3
61,http://www.zillow.com/homedetails/74-Leonard-St-APT-2B-New-York-NY-10013/2100769387_zpid/,7 photos,NaN,7,NaN,7 photos,7,http://www.zillow.com/homedetails/74-Leonard-St-APT-2B-New-York-NY-10013/2100769387_zpid/,"74 Leonard St APT 2B, New York, NY10013","74 Leonard St APT 2B, New York, NY Real Estate",74; 2,Apartment For Rent,"$2,895/mo",2895,Studio • 1 ba,1,NaN,NaN,NaN,NaN,NaN,NaN,3
63,http://www.zillow.com/homedetails/70-Orchard-St-APT-6-New-York-NY-10002/2100774367_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/70-Orchard-St-APT-6-New-York-NY-10002/2100774367_zpid/,"70 Orchard St APT 6, New York, NY10002","70 Orchard St APT 6, New York, NY Real Estate",70; 6,Apartment For Rent,"$2,200/mo",2200,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,3
65,http://www.zillow.com/homedetails/1-West-St-APT-2040-New-York-NY-10004/2127108261_zpid/,11 photos,NaN,11,NaN,11 photos,11,http://www.zillow.com/homedetails/1-West-St-APT-2040-New-York-NY-10004/2127108261_zpid/,"1 West St APT 2040, New York, NY10004","1 West St APT 2040, New York, NY Real Estate",1; 2040,Apartment For Rent,"$2,600/mo",2600,Studio • 1 ba • 406 sqft • Built 1903,1; 406; 1903,NaN,NaN,NaN,NaN,NaN,NaN,3
67,http://www.zillow.com/homedetails/166-W-76th-St-APT-4E-New-York-NY-10023/2118825231_zpid/,5 photos,NaN,5,NaN,5 photos,5,http://www.zillow.com/homedetails/166-W-76th-St-APT-4E-New-York-NY-10023/2118825231_zpid/,"166 W 76th St APT 4E, New York, NY10023","166 W 76th St APT 4E, New York, NY Real Estate",166; 76; 4,Apartment For Rent,"$2,300/mo",2300,Studio • 1 ba • 350 sqft • 465 sqft lot,1; 350; 465,NaN,NaN,12,hours ago,NaN,NaN,3
69,http://www.zillow.com/homedetails/72-W-87th-St-1D-New-York-NY-10024/2100763839_zpid/,1 photo,NaN,1,NaN,1 photo,1,http://www.zillow.com/homedetails/72-W-87th-St-1D-New-York-NY-10024/2100763839_zpid/,"72 W 87th St # 1D, New York, NY10024","72 W 87th St # 1D, New York, NY Real Estate",72; 87; 1,Apartment For Rent,"$2,400/mo",2400,Studio • 1 ba,1,NaN,NaN,12,hours ago,NaN,NaN,3
70,http://www.zillow.com/homedetails/310-W-78th-St-3BB-New-York-NY-10024/2100763841_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/310-W-78th-St-3BB-New-York-NY-10024/2100763841_zpid/,"310 W 78th St # 3BB, New York, NY10024","310 W 78th St # 3BB, New York, NY Real Estate",310; 78; 3,Apartment For Rent,"$2,195/mo",2195,Studio • 1 ba • 400 sqft,1; 400,NaN,NaN,12,hours ago,NaN,NaN,3
71,http://www.zillow.com/homedetails/301-W-110th-St-APT-3F-New-York-NY-10026/31550221_zpid/,11 photos,NaN,11,NaN,11 photos,11,http://www.zillow.com/homedetails/301-W-110th-St-APT-3F-New-York-NY-10026/31550221_zpid/,"301 W 110th St APT 3F, New York, NY10026","301 W 110th St APT 3F, New York, NY Real Estate",301; 110; 3,Apartment For Rent,"$2,800/mo",2800,1 bd • 1 ba • 600 sqft • Built 1989,1; 1; 600; 1989,NaN,NaN,12,hours ago,NaN,NaN,3
72,http://www.zillow.com/homedetails/115-W-57th-St-APT-4F-New-York-NY-10019/2118533935_zpid/,NaN,NaN,NaN,NaN,NaN,NaN,http://www.zillow.com/homedetails/115-W-57th-St-APT-4F-New-York-NY-10019/2118533935_zpid/,"115 W 57th St APT 4F, New York, NY10019","115 W 57th St APT 4F, New York, NY Real Estate",115; 57; 4,Apartment For Rent,"$2,495/mo",2495,1 bd • 1 ba,1; 1,NaN,NaN,14,hours ago,NaN,NaN,3
73,http://www.zillow.com/homedetails/438-E-66th-St-4-New-York-NY-10065/2106344724_zpid/,4 photos,NaN,4,NaN,4 photos,4,http://www.zillow.com/homedetails/438-E-66th-St-4-New-York-NY-10065/2106344724_zpid/,"438 E 66th St # 4, New York, NY10065","438 E 66th St # 4, New York, NY Real Estate",438; 66; 4,Apartment For Rent,"$1,900/mo",1900,1 bd • 1 ba,1; 1,NaN,NaN,14,hours ago,NaN,NaN,3
74,http://www.zillow.com/homedetails/30-W-141st-St-APT-6C-New-York-NY-10037/2112163749_zpid/,9 photos,NaN,9,NaN,9 photos,9,http://www.zillow.com/homedetails/30-W-141st-St-APT-6C-New-York-NY-10037/2112163749_zpid/,"30 W 141st St APT 6C, New York, NY10037","30 W 141st St APT 6C, New York, NY Real Estate",30; 141; 6,Apartment For Rent,"$1,815/mo",1815,1 bd • 1 ba • 596 sqft • Built 1959,1; 1; 596; 1959,NaN,NaN,14,hours ago,NaN,NaN,3
75,http://www.zillow.com/homedetails/561-10th-Ave-APT-7B-New-York-NY-10036/2118562219_zpid/,4 photos,NaN,4,NaN,4 photos,4,http://www.zillow.com/homedetails/561-10th-Ave-APT-7B-New-York-NY-10036/2118562219_zpid/,"561 10th Ave APT 7B, New York, NY10036","561 10th Ave APT 7B, New York, NY Real Estate",561; 10; 7,Apartment For Rent,"$2,950/mo",2950,Studio • 1 ba,1,NaN,NaN,14,hours ago,NaN,NaN,4
76,http://www.zillow.com/homedetails/260-W-52nd-St-334188-New-York-NY-10019/2101014413_zpid/,14 photos,NaN,14,NaN,14 photos,14,http://www.zillow.com/homedetails/260-W-52nd-St-334188-New-York-NY-10019/2101014413_zpid/,"260 W 52nd St, New York, NY","The Ellington, 6C Real Estate",260; 52,Apartment For Rent,"$2,950+/mo",2950,Studio • 1 ba • Built 1987,1; 1987,NaN,NaN,NaN,Updated today,NaN,NaN,4
78,http://www.zillow.com/homedetails/22-James-St-APT-3-New-York-NY-10038/2100776290_zpid/,6 photos,NaN,6,NaN,6 photos,6,http://www.zillow.com/homedetails/22-James-St-APT-3-New-York-NY-10038/2100776290_zpid/,"22 James St APT 3, New York, NY10038","22 James St APT 3, New York, NY Real Estate",22; 3,Apartment For Rent,"$2,300/mo",2300,2 bds • 1 ba • 600 sqft,2; 1; 600,NaN,NaN,NaN,NaN,NaN,NaN,4
79,http://www.zillow.com/homedetails/76-E-7th-St-APT-52-New-York-NY-10003/2100777286_zpid/,7 photos,NaN,7,NaN,7 photos,7,http://www.zillow.com/homedetails/76-E-7th-St-APT-52-New-York-NY-10003/2100777286_zpid/,"76 E 7th St APT 52, New York, NY10003","76 E 7th St APT 52, New York, NY Real Estate",76; 7; 52,Apartment For Rent,"$2,700/mo",2700,2 bds • 1 ba,2; 1,NaN,NaN,NaN,NaN,NaN,NaN,4
80,http://www.zillow.com/homedetails/308-E-6th-St-3RW-New-York-NY-10003/2100777287_zpid/,5 photos,NaN,5,NaN,5 photos,5,http://www.zillow.com/homedetails/308-E-6th-St-3RW-New-York-NY-10003/2100777287_zpid/,"308 E 6th St # 3RW, New York, NY10003","308 E 6th St # 3RW, New York, NY Real Estate",308; 6; 3,Apartment For Rent,"$2,395/mo",2395,1 bd • 1 ba,1; 1,NaN,NaN,NaN,NaN,NaN,NaN,4

In [557]:
# split using the bullet
def parse_info(row):
        if not 'sqft' in row:
            br, ba = row.split('•')[:2]
            sqft = np.nan
        else:
            br, ba, sqft = row.split('•')[:3]                
        return pd.Series({'Beds': br, 'Baths': ba, 'Sqft': sqft})

In [558]:
attr = sucln['propertyinfo_value'].apply(parse_info)

In [559]:
attr

       Baths     Beds           Sqft
2       1 ba    1 bd             NaN
3      2 ba    2 bds      1,016 sqft
4       1 ba  Studio             NaN
5       1 ba   2 bds             NaN
7       1 ba   2 bds             NaN
10      1 ba    1 bd             NaN
11     1 ba     1 bd       496 sqft
12      1 ba  Studio             NaN
13      1 ba    1 bd             NaN
17      1 ba    1 bd             NaN
18      1 ba  Studio             NaN
19      1 ba    1 bd             NaN
20     1 ba     1 bd        700 sqft
21      1 ba    1 bd             NaN
23     1 ba   Studio        487 sqft
24      1 ba   2 bds             NaN
27     1 ba     1 bd        525 sqft
29     1 ba    2 bds        650 sqft
30      1 ba    1 bd             NaN
33      1 ba    1 bd             NaN
36      1 ba  Studio             NaN
38      1 ba    1 bd             NaN
40     1 ba   Studio       406 sqft
42     1 ba   Studio       350 sqft
44      1 ba  Studio             NaN
45     1 ba   Studio        400 sqft
46     1 ba     1 bd       600 sqft
47      1 ba    1 bd             NaN
48      1 ba    1 bd             NaN
49     1 ba     1 bd       596 sqft
52     1 ba     1 bd        525 sqft
54     1 ba    2 bds        650 sqft
55      1 ba    1 bd             NaN
58      1 ba    1 bd             NaN
61      1 ba  Studio             NaN
63      1 ba    1 bd             NaN
65     1 ba   Studio       406 sqft
67     1 ba   Studio       350 sqft
69      1 ba  Studio             NaN
70     1 ba   Studio        400 sqft
71     1 ba     1 bd       600 sqft
72      1 ba    1 bd             NaN
73      1 ba    1 bd             NaN
74     1 ba     1 bd       596 sqft
75      1 ba  Studio             NaN
76     1 ba   Studio             NaN
78     1 ba    2 bds        600 sqft
79      1 ba   2 bds             NaN
80      1 ba    1 bd             NaN
82      1 ba    1 bd             NaN
83     1 ba   Studio       515 sqft
85     1 ba   Studio             NaN
86     1 ba   Studio        450 sqft
88      1 ba    1 bd             NaN
89      1 ba    1 bd             NaN
90     1 ba     1 bd        650 sqft
91     1 ba   Studio             NaN
92     1 ba    2 bds             NaN
94     1 ba   Studio        535 sqft
97     1 ba   Studio        541 sqft
100     1 ba  Studio             NaN
103    1 ba     1 bd        650 sqft
107     1 ba   2 bds             NaN
108     1 ba    1 bd             NaN
109     1 ba    1 bd             NaN
110     1 ba  Studio             NaN
111    1 ba     1 bd        550 sqft
115     1 ba    1 bd             NaN
116     1 ba   2 bds             NaN
118    1 ba   Studio        483 sqft
120    1 ba     1 bd       326 sqft
121    1 ba     1 bd             NaN
127    1 ba     1 bd        475 sqft
128     1 ba    1 bd             NaN
129     1 ba    1 bd             NaN
..       ...      ...            ...
381    1 ba   Studio        440 sqft
382     1 ba  Studio             NaN
383    2 ba    2 bds     1,090 sqft
384    1 ba   Studio        425 sqft
386     1 ba   2 bds             NaN
387     1 ba  Studio             NaN
389     1 ba   2 bds             NaN
390     1 ba  Studio             NaN
391     1 ba    1 bd             NaN
394    1 ba     1 bd        450 sqft
395    1 ba     1 bd    510 sqft lot
396    1 ba     1 bd        750 sqft
399     1 ba    1 bd             NaN
400   1.5 ba   2 bds             NaN
401     1 ba    1 bd             NaN
402     1 ba    1 bd             NaN
403    1 ba   Studio        421 sqft
405    1 ba    2 bds       685 sqft
406    1 ba     1 bd             NaN
408     1 ba    1 bd             NaN
409     1 ba   2 bds             NaN
411     1 ba  Studio             NaN
412     1 ba  Studio             NaN
414     1 ba  Studio             NaN
415     1 ba    1 bd             NaN
416    1 ba     1 bd        650 sqft
418     1 ba    1 bd             NaN
419     1 ba    1 bd             NaN
421     1 ba  Studio             NaN
424     1 ba   2 bds             NaN
425     1 ba    1 bd             NaN
426    1 ba     1 bd        400 sqft
428    1 ba     1 bd       400 sqft
429     1 ba    1 bd             NaN
430     1 ba   3 bds             NaN
433     1 ba    1 bd             NaN
436     1 ba  Studio             NaN
437     1 ba  Studio             NaN
438     1 ba  Studio             NaN
442    1 ba   Studio        500 sqft
443     1 ba   2 bds             NaN
446     1 ba  Studio             NaN
447     1 ba    1 bd             NaN
448     1 ba   2 bds             NaN
449    1 ba   Studio        432 sqft
450    1 ba    2 bds        900 sqft
451     1 ba   2 bds             NaN
452     1 ba    1 bd             NaN
453     1 ba    1 bd             NaN
454     1 ba    1 bd             NaN
457    1 ba   Studio       540 sqft
458     1 ba   2 bds             NaN
459     1 ba  Studio             NaN
460     1 ba    1 bd             NaN
461     1 ba  Studio             NaN
462    1 ba   Studio             NaN
464    1 ba   Studio       485 sqft
466    1 ba    2 bds        600 sqft
467    1 ba   Studio       522 sqft
468    1 ba   Studio       480 sqft
470     1 ba  Studio             NaN
471     1 ba  Studio             NaN
475    1 ba     1 bd       475 sqft
477     1 ba  Studio             NaN
479    1 ba     1 bd        500 sqft
483     1 ba   2 bds             NaN
484     1 ba   2 bds             NaN
485     1 ba  Studio             NaN
486    1 ba   Studio        400 sqft
487     1 ba  Studio             NaN
490     1 ba    1 bd             NaN
492     1 ba    1 bd             NaN
496     1 ba  Studio             NaN
497    1 ba   Studio        550 sqft
499     1 ba    1 bd             NaN

[333 rows x 3 columns]

In [560]:
#remove the strings from our values
attr_cln = attr.applymap(lambda x: x.strip().split(' ')[0] if isinstance(x,str) else np.nan)

attr_cln

    Baths    Beds   Sqft
2       1       1    NaN
3       2       2  1,016
4       1  Studio    NaN
5       1       2    NaN
7       1       2    NaN
10      1       1    NaN
11      1       1    496
12      1  Studio    NaN
13      1       1    NaN
17      1       1    NaN
18      1  Studio    NaN
19      1       1    NaN
20      1       1    700
21      1       1    NaN
23      1  Studio    487
24      1       2    NaN
27      1       1    525
29      1       2    650
30      1       1    NaN
33      1       1    NaN
36      1  Studio    NaN
38      1       1    NaN
40      1  Studio    406
42      1  Studio    350
44      1  Studio    NaN
45      1  Studio    400
46      1       1    600
47      1       1    NaN
48      1       1    NaN
49      1       1    596
52      1       1    525
54      1       2    650
55      1       1    NaN
58      1       1    NaN
61      1  Studio    NaN
63      1       1    NaN
65      1  Studio    406
67      1  Studio    350
69      1  Studio    NaN
70      1  Studio    400
71      1       1    600
72      1       1    NaN
73      1       1    NaN
74      1       1    596
75      1  Studio    NaN
76      1  Studio    NaN
78      1       2    600
79      1       2    NaN
80      1       1    NaN
82      1       1    NaN
83      1  Studio    515
85      1  Studio    NaN
86      1  Studio    450
88      1       1    NaN
89      1       1    NaN
90      1       1    650
91      1  Studio    NaN
92      1       2    NaN
94      1  Studio    535
97      1  Studio    541
100     1  Studio    NaN
103     1       1    650
107     1       2    NaN
108     1       1    NaN
109     1       1    NaN
110     1  Studio    NaN
111     1       1    550
115     1       1    NaN
116     1       2    NaN
118     1  Studio    483
120     1       1    326
121     1       1    NaN
127     1       1    475
128     1       1    NaN
129     1       1    NaN
..    ...     ...    ...
381     1  Studio    440
382     1  Studio    NaN
383     2       2  1,090
384     1  Studio    425
386     1       2    NaN
387     1  Studio    NaN
389     1       2    NaN
390     1  Studio    NaN
391     1       1    NaN
394     1       1    450
395     1       1    510
396     1       1    750
399     1       1    NaN
400   1.5       2    NaN
401     1       1    NaN
402     1       1    NaN
403     1  Studio    421
405     1       2    685
406     1       1    NaN
408     1       1    NaN
409     1       2    NaN
411     1  Studio    NaN
412     1  Studio    NaN
414     1  Studio    NaN
415     1       1    NaN
416     1       1    650
418     1       1    NaN
419     1       1    NaN
421     1  Studio    NaN
424     1       2    NaN
425     1       1    NaN
426     1       1    400
428     1       1    400
429     1       1    NaN
430     1       3    NaN
433     1       1    NaN
436     1  Studio    NaN
437     1  Studio    NaN
438     1  Studio    NaN
442     1  Studio    500
443     1       2    NaN
446     1  Studio    NaN
447     1       1    NaN
448     1       2    NaN
449     1  Studio    432
450     1       2    900
451     1       2    NaN
452     1       1    NaN
453     1       1    NaN
454     1       1    NaN
457     1  Studio    540
458     1       2    NaN
459     1  Studio    NaN
460     1       1    NaN
461     1  Studio    NaN
462     1  Studio    NaN
464     1  Studio    485
466     1       2    600
467     1  Studio    522
468     1  Studio    480
470     1  Studio    NaN
471     1  Studio    NaN
475     1       1    475
477     1  Studio    NaN
479     1       1    500
483     1       2    NaN
484     1       2    NaN
485     1  Studio    NaN
486     1  Studio    400
487     1  Studio    NaN
490     1       1    NaN
492     1       1    NaN
496     1  Studio    NaN
497     1  Studio    550
499     1       1    NaN

[333 rows x 3 columns]

In [561]:
sujnd = sucln.join(attr_cln)

In [562]:
sujnd.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
﻿routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20
Baths,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Beds,1,2,Studio,2,2,1,1,Studio,1,1,Studio,1,1,1,Studio,...,Studio,Studio,1,Studio,1,2,2,Studio,Studio,Studio,1,1,Studio,Studio,1
Sqft,NaN,"1,016",NaN,NaN,NaN,NaN,496,NaN,NaN,NaN,NaN,NaN,700,NaN,487,...,NaN,NaN,475,NaN,500,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,550,NaN

In [563]:
# parse out zip, floor

def parse_addy(r):
    so_zip = re.search(', NY(\d+)', r)
    so_flr = re.search('(?:APT|#)\s+(\d+)[A-Z]+,', r)
    if so_zip:
        zipc = so_zip.group(1)
    else:
        zipc = np.nan
    if so_flr:
        flr = so_flr.group(1)
    else:
        flr = np.nan
    return pd.Series({'Zip':zipc, 'Floor': flr})

In [564]:
flrzip = sujnd['routable_link/_text'].apply(parse_addy)

In [565]:
flrzip

    Floor    Zip
2     NaN  10035
3       2  10031
4     NaN  10028
5       6  10035
7     NaN  10012
10      4  10036
11      5  10021
12      3  10024
13      2  10023
17      4  10036
18      4  10014
19    NaN  10027
20      4  10023
21    NaN  10009
23    NaN    NaN
24    NaN  10002
27    NaN  10009
29    NaN  10002
30    NaN  10009
33      2  10002
36      2  10013
38    NaN  10002
40    NaN  10004
42      4  10023
44      1  10024
45      3  10024
46      3  10026
47      4  10019
48    NaN  10065
49      6  10037
52    NaN  10009
54    NaN  10002
55    NaN  10009
58      2  10002
61      2  10013
63    NaN  10002
65    NaN  10004
67      4  10023
69      1  10024
70      3  10024
71      3  10026
72      4  10019
73    NaN  10065
74      6  10037
75      7  10036
76    NaN    NaN
78    NaN  10038
79    NaN  10003
80      3  10003
82    NaN  10013
83      5  10280
85      2  10013
86    NaN  10002
88    NaN  10003
89      5  10013
90      4  10002
91    NaN  10009
92    NaN  10009
94      2  10005
97      9  10013
100   NaN  10009
103     4  10002
107     2  10002
108     1  10003
109   NaN  10002
110     2  10003
111     4  10009
115     3  10002
116   NaN  10013
118     5  10280
120     2  10002
121   NaN  10002
127   NaN  10002
128   NaN  10013
129    11  10002
..    ...    ...
381   NaN    NaN
382   NaN  10065
383   NaN  10031
384     3  10075
386     2  10075
387   NaN  10024
389   NaN  10128
390   NaN  10016
391     4  10023
394   NaN  10003
395     5  10024
396   NaN  10035
399     2  10029
400     1  10029
401     4  10028
402     2  10010
403   NaN    NaN
405   NaN  10031
406   NaN  10009
408     2  10033
409     4  10035
411     1  10029
412   NaN  10029
414   NaN  10011
415   NaN  10029
416     2  10075
418     3  10016
419     5  10027
421     2  10028
424     3  10128
425     5  10040
426     5  10035
428     9  10017
429   NaN  10065
430   NaN  10031
433   NaN  10028
436     2  10021
437     5  10011
438     9  10001
442    10  10016
443   NaN  10036
446   NaN  10011
447     5  10011
448   NaN  11101
449   NaN    NaN
450     2  10032
451     2  10032
452     1  10029
453   NaN  10017
454     3  10075
457     9  10025
458   NaN  10021
459     5  10075
460   NaN  10003
461   NaN    NaN
462   NaN    NaN
464    20  10016
466     2  10011
467   NaN    NaN
468   NaN    NaN
470  1107  10017
471   NaN  10009
475     3  10019
477   NaN  10023
479     2  10024
483     2  10019
484     3  10010
485     2  10022
486     3  10003
487     8  10065
490   NaN  10021
492     4  10028
496     3  10019
497   NaN  10035
499     2  10021

[333 rows x 2 columns]

In [566]:
len(flrzip[~flrzip['Floor'].isnull()])

164

In [567]:
len(flrzip[~flrzip['Zip'].isnull()])

320

In [568]:
suf = sujnd.join(flrzip)

In [569]:
suf.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
﻿routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20
Baths,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Beds,1,2,Studio,2,2,1,1,Studio,1,1,Studio,1,1,1,Studio,...,Studio,Studio,1,Studio,1,2,2,Studio,Studio,Studio,1,1,Studio,Studio,1
Sqft,NaN,"1,016",NaN,NaN,NaN,NaN,496,NaN,NaN,NaN,NaN,NaN,700,NaN,487,...,NaN,NaN,475,NaN,500,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,550,NaN
Floor,NaN,2,NaN,6,NaN,4,5,3,2,4,4,NaN,4,NaN,NaN,...,1107,NaN,3,NaN,2,2,3,2,3,8,NaN,4,3,NaN,2
Zip,10035,10031,10028,10035,10012,10036,10021,10024,10023,10036,10014,10027,10023,10009,NaN,...,10017,10009,10019,10023,10024,10019,10010,10022,10003,10065,10021,10028,10019,10035,10021

In [570]:
# we'll reduce the data down to the columns of interest
sudf = suf[['pricelarge_value_prices','Beds','Baths','Sqft','Floor','Zip']]

In [571]:
# we'll also clean up the weird column name
sudf.rename(columns={'pricelarge_value_prices':'Rent'}, inplace=True)

In [572]:
sudf.reset_index(drop=True, inplace=True)

In [573]:
sudf

     Rent    Beds Baths   Sqft Floor    Zip
0    1750       1     1    NaN   NaN  10035
1    3000       2     2  1,016     2  10031
2    2300  Studio     1    NaN   NaN  10028
3    2500       2     1    NaN     6  10035
4    2800       2     1    NaN   NaN  10012
5    2490       1     1    NaN     4  10036
6    2750       1     1    496     5  10021
7    2150  Studio     1    NaN     3  10024
8    2875       1     1    NaN     2  10023
9    2225       1     1    NaN     4  10036
10   2450  Studio     1    NaN     4  10014
11   1800       1     1    NaN   NaN  10027
12   2850       1     1    700     4  10023
13   2700       1     1    NaN   NaN  10009
14   3000  Studio     1    487   NaN    NaN
15   2995       2     1    NaN   NaN  10002
16   2700       1     1    525   NaN  10009
17   2800       2     1    650   NaN  10002
18   2850       1     1    NaN   NaN  10009
19   2199       1     1    NaN     2  10002
20   2895  Studio     1    NaN     2  10013
21   2200       1     1    NaN   NaN  10002
22   2600  Studio     1    406   NaN  10004
23   2300  Studio     1    350     4  10023
24   2400  Studio     1    NaN     1  10024
25   2195  Studio     1    400     3  10024
26   2800       1     1    600     3  10026
27   2495       1     1    NaN     4  10019
28   1900       1     1    NaN   NaN  10065
29   1815       1     1    596     6  10037
30   2700       1     1    525   NaN  10009
31   2800       2     1    650   NaN  10002
32   2850       1     1    NaN   NaN  10009
33   2199       1     1    NaN     2  10002
34   2895  Studio     1    NaN     2  10013
35   2200       1     1    NaN   NaN  10002
36   2600  Studio     1    406   NaN  10004
37   2300  Studio     1    350     4  10023
38   2400  Studio     1    NaN     1  10024
39   2195  Studio     1    400     3  10024
40   2800       1     1    600     3  10026
41   2495       1     1    NaN     4  10019
42   1900       1     1    NaN   NaN  10065
43   1815       1     1    596     6  10037
44   2950  Studio     1    NaN     7  10036
45   2950  Studio     1    NaN   NaN    NaN
46   2300       2     1    600   NaN  10038
47   2700       2     1    NaN   NaN  10003
48   2395       1     1    NaN     3  10003
49   2600       1     1    NaN   NaN  10013
50   2550  Studio     1    515     5  10280
51   2650  Studio     1    NaN     2  10013
52   2150  Studio     1    450   NaN  10002
53   2200       1     1    NaN   NaN  10003
54   2300       1     1    NaN     5  10013
55   2995       1     1    650     4  10002
56   2150  Studio     1    NaN   NaN  10009
57   2415       2     1    NaN   NaN  10009
58   2400  Studio     1    535     2  10005
59   3000  Studio     1    541     9  10013
60   1925  Studio     1    NaN   NaN  10009
61   2550       1     1    650     4  10002
62   2800       2     1    NaN     2  10002
63   2295       1     1    NaN     1  10003
64   2050       1     1    NaN   NaN  10002
65   1895  Studio     1    NaN     2  10003
66   2750       1     1    550     4  10009
67   2530       1     1    NaN     3  10002
68   2600       2     1    NaN   NaN  10013
69   2730  Studio     1    483     5  10280
70   2350       1     1    326     2  10002
71   2595       1     1    NaN   NaN  10002
72   2675       1     1    475   NaN  10002
73   2995       1     1    NaN   NaN  10013
74   2295       1     1    NaN    11  10002
..    ...     ...   ...    ...   ...    ...
258  2925  Studio     1    440   NaN    NaN
259  2495  Studio     1    NaN   NaN  10065
260  3000       2     2  1,090   NaN  10031
261  2200  Studio     1    425     3  10075
262  2695       2     1    NaN     2  10075
263  2595  Studio     1    NaN   NaN  10024
264  2850       2     1    NaN   NaN  10128
265  2995  Studio     1    NaN   NaN  10016
266  2595       1     1    NaN     4  10023
267  2400       1     1    450   NaN  10003
268  2750       1     1    510     5  10024
269  2095       1     1    750   NaN  10035
270  1850       1     1    NaN     2  10029
271  2650       2   1.5    NaN     1  10029
272  2250       1     1    NaN     4  10028
273  2299       1     1    NaN     2  10010
274  2620  Studio     1    421   NaN    NaN
275  2400       2     1    685   NaN  10031
276  2947       1     1    NaN   NaN  10009
277  1825       1     1    NaN     2  10033
278  2200       2     1    NaN     4  10035
279  1500  Studio     1    NaN     1  10029
280  1695  Studio     1    NaN   NaN  10029
281  2950  Studio     1    NaN   NaN  10011
282  2595       1     1    NaN   NaN  10029
283  2800       1     1    650     2  10075
284  2450       1     1    NaN     3  10016
285  1900       1     1    NaN     5  10027
286  1900  Studio     1    NaN     2  10028
287  2950       2     1    NaN     3  10128
288  1550       1     1    NaN     5  10040
289  2000       1     1    400     5  10035
290  3000       1     1    400     9  10017
291  2595       1     1    NaN   NaN  10065
292  2700       3     1    NaN   NaN  10031
293  2600       1     1    NaN   NaN  10028
294  1900  Studio     1    NaN     2  10021
295  2925  Studio     1    NaN     5  10011
296  2975  Studio     1    NaN     9  10001
297  2350  Studio     1    500    10  10016
298  2700       2     1    NaN   NaN  10036
299  2449  Studio     1    NaN   NaN  10011
300  2852       1     1    NaN     5  10011
301  2393       2     1    NaN   NaN  11101
302  2885  Studio     1    432   NaN    NaN
303  2095       2     1    900     2  10032
304  2000       2     1    NaN     2  10032
305  2095       1     1    NaN     1  10029
306  2250       1     1    NaN   NaN  10017
307  2450       1     1    NaN     3  10075
308  2500  Studio     1    540     9  10025
309  2500       2     1    NaN   NaN  10021
310  1800  Studio     1    NaN     5  10075
311  2495       1     1    NaN   NaN  10003
312  2950  Studio     1    NaN   NaN    NaN
313  2950  Studio     1    NaN   NaN    NaN
314  2500  Studio     1    485    20  10016
315  2595       2     1    600     2  10011
316  2965  Studio     1    522   NaN    NaN
317  2815  Studio     1    480   NaN    NaN
318  2200  Studio     1    NaN  1107  10017
319  2195  Studio     1    NaN   NaN  10009
320  2995       1     1    475     3  10019
321  1895  Studio     1    NaN   NaN  10023
322  2493       1     1    500     2  10024
323  2925       2     1    NaN     2  10019
324  2940       2     1    NaN     3  10010
325  2170  Studio     1    NaN     2  10022
326  2300  Studio     1    400     3  10003
327  2600  Studio     1    NaN     8  10065
328  2265       1     1    NaN   NaN  10021
329  2150       1     1    NaN     4  10028
330  2195  Studio     1    NaN     3  10019
331  1795  Studio     1    550   NaN  10035
332  2150       1     1    NaN     2  10021

[333 rows x 6 columns]

In [574]:
sudf.describe()

          Rent
count   333.00
mean   2492.63
std     366.88
min    1500.00
25%    2200.00
50%    2525.00
75%    2800.00
max    3000.00

In [575]:
# we'll replace 'Studio' with 0 where present
sudf.loc[:,'Beds'] = sudf['Beds'].map(lambda x: 0 if 'Studio' in x else x)

In [576]:
sudf

     Rent Beds Baths   Sqft Floor    Zip
0    1750    1     1    NaN   NaN  10035
1    3000    2     2  1,016     2  10031
2    2300    0     1    NaN   NaN  10028
3    2500    2     1    NaN     6  10035
4    2800    2     1    NaN   NaN  10012
5    2490    1     1    NaN     4  10036
6    2750    1     1    496     5  10021
7    2150    0     1    NaN     3  10024
8    2875    1     1    NaN     2  10023
9    2225    1     1    NaN     4  10036
10   2450    0     1    NaN     4  10014
11   1800    1     1    NaN   NaN  10027
12   2850    1     1    700     4  10023
13   2700    1     1    NaN   NaN  10009
14   3000    0     1    487   NaN    NaN
15   2995    2     1    NaN   NaN  10002
16   2700    1     1    525   NaN  10009
17   2800    2     1    650   NaN  10002
18   2850    1     1    NaN   NaN  10009
19   2199    1     1    NaN     2  10002
20   2895    0     1    NaN     2  10013
21   2200    1     1    NaN   NaN  10002
22   2600    0     1    406   NaN  10004
23   2300    0     1    350     4  10023
24   2400    0     1    NaN     1  10024
25   2195    0     1    400     3  10024
26   2800    1     1    600     3  10026
27   2495    1     1    NaN     4  10019
28   1900    1     1    NaN   NaN  10065
29   1815    1     1    596     6  10037
30   2700    1     1    525   NaN  10009
31   2800    2     1    650   NaN  10002
32   2850    1     1    NaN   NaN  10009
33   2199    1     1    NaN     2  10002
34   2895    0     1    NaN     2  10013
35   2200    1     1    NaN   NaN  10002
36   2600    0     1    406   NaN  10004
37   2300    0     1    350     4  10023
38   2400    0     1    NaN     1  10024
39   2195    0     1    400     3  10024
40   2800    1     1    600     3  10026
41   2495    1     1    NaN     4  10019
42   1900    1     1    NaN   NaN  10065
43   1815    1     1    596     6  10037
44   2950    0     1    NaN     7  10036
45   2950    0     1    NaN   NaN    NaN
46   2300    2     1    600   NaN  10038
47   2700    2     1    NaN   NaN  10003
48   2395    1     1    NaN     3  10003
49   2600    1     1    NaN   NaN  10013
50   2550    0     1    515     5  10280
51   2650    0     1    NaN     2  10013
52   2150    0     1    450   NaN  10002
53   2200    1     1    NaN   NaN  10003
54   2300    1     1    NaN     5  10013
55   2995    1     1    650     4  10002
56   2150    0     1    NaN   NaN  10009
57   2415    2     1    NaN   NaN  10009
58   2400    0     1    535     2  10005
59   3000    0     1    541     9  10013
60   1925    0     1    NaN   NaN  10009
61   2550    1     1    650     4  10002
62   2800    2     1    NaN     2  10002
63   2295    1     1    NaN     1  10003
64   2050    1     1    NaN   NaN  10002
65   1895    0     1    NaN     2  10003
66   2750    1     1    550     4  10009
67   2530    1     1    NaN     3  10002
68   2600    2     1    NaN   NaN  10013
69   2730    0     1    483     5  10280
70   2350    1     1    326     2  10002
71   2595    1     1    NaN   NaN  10002
72   2675    1     1    475   NaN  10002
73   2995    1     1    NaN   NaN  10013
74   2295    1     1    NaN    11  10002
..    ...  ...   ...    ...   ...    ...
258  2925    0     1    440   NaN    NaN
259  2495    0     1    NaN   NaN  10065
260  3000    2     2  1,090   NaN  10031
261  2200    0     1    425     3  10075
262  2695    2     1    NaN     2  10075
263  2595    0     1    NaN   NaN  10024
264  2850    2     1    NaN   NaN  10128
265  2995    0     1    NaN   NaN  10016
266  2595    1     1    NaN     4  10023
267  2400    1     1    450   NaN  10003
268  2750    1     1    510     5  10024
269  2095    1     1    750   NaN  10035
270  1850    1     1    NaN     2  10029
271  2650    2   1.5    NaN     1  10029
272  2250    1     1    NaN     4  10028
273  2299    1     1    NaN     2  10010
274  2620    0     1    421   NaN    NaN
275  2400    2     1    685   NaN  10031
276  2947    1     1    NaN   NaN  10009
277  1825    1     1    NaN     2  10033
278  2200    2     1    NaN     4  10035
279  1500    0     1    NaN     1  10029
280  1695    0     1    NaN   NaN  10029
281  2950    0     1    NaN   NaN  10011
282  2595    1     1    NaN   NaN  10029
283  2800    1     1    650     2  10075
284  2450    1     1    NaN     3  10016
285  1900    1     1    NaN     5  10027
286  1900    0     1    NaN     2  10028
287  2950    2     1    NaN     3  10128
288  1550    1     1    NaN     5  10040
289  2000    1     1    400     5  10035
290  3000    1     1    400     9  10017
291  2595    1     1    NaN   NaN  10065
292  2700    3     1    NaN   NaN  10031
293  2600    1     1    NaN   NaN  10028
294  1900    0     1    NaN     2  10021
295  2925    0     1    NaN     5  10011
296  2975    0     1    NaN     9  10001
297  2350    0     1    500    10  10016
298  2700    2     1    NaN   NaN  10036
299  2449    0     1    NaN   NaN  10011
300  2852    1     1    NaN     5  10011
301  2393    2     1    NaN   NaN  11101
302  2885    0     1    432   NaN    NaN
303  2095    2     1    900     2  10032
304  2000    2     1    NaN     2  10032
305  2095    1     1    NaN     1  10029
306  2250    1     1    NaN   NaN  10017
307  2450    1     1    NaN     3  10075
308  2500    0     1    540     9  10025
309  2500    2     1    NaN   NaN  10021
310  1800    0     1    NaN     5  10075
311  2495    1     1    NaN   NaN  10003
312  2950    0     1    NaN   NaN    NaN
313  2950    0     1    NaN   NaN    NaN
314  2500    0     1    485    20  10016
315  2595    2     1    600     2  10011
316  2965    0     1    522   NaN    NaN
317  2815    0     1    480   NaN    NaN
318  2200    0     1    NaN  1107  10017
319  2195    0     1    NaN   NaN  10009
320  2995    1     1    475     3  10019
321  1895    0     1    NaN   NaN  10023
322  2493    1     1    500     2  10024
323  2925    2     1    NaN     2  10019
324  2940    2     1    NaN     3  10010
325  2170    0     1    NaN     2  10022
326  2300    0     1    400     3  10003
327  2600    0     1    NaN     8  10065
328  2265    1     1    NaN   NaN  10021
329  2150    1     1    NaN     4  10028
330  2195    0     1    NaN     3  10019
331  1795    0     1    550   NaN  10035
332  2150    1     1    NaN     2  10021

[333 rows x 6 columns]

In [577]:
# we're not getting stats on 'Beds','Baths', and 'Floor' because of the datatype
sudf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 332
Data columns (total 6 columns):
Rent     333 non-null float64
Beds     333 non-null object
Baths    333 non-null object
Sqft     108 non-null object
Floor    164 non-null object
Zip      320 non-null object
dtypes: float64(1), object(5)
memory usage: 18.2+ KB

In [578]:
# let's fix the datatype for the columns
sudf.loc[:,'Rent'] = sudf['Rent'].astype(int)
sudf.loc[:,'Beds'] = sudf['Beds'].astype(int)

# half baths require a float
sudf.loc[:,'Baths'] = sudf['Baths'].astype(float)

# with NaNs we need float, but we have to replace commas first
sudf.loc[:,'Sqft'] = sudf['Sqft'].str.replace(',','')

sudf.loc[:,'Sqft'] = sudf['Sqft'].astype(float)
sudf.loc[:,'Floor'] = sudf['Floor'].astype(float)

In [579]:
sudf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 332
Data columns (total 6 columns):
Rent     333 non-null int64
Beds     333 non-null int64
Baths    333 non-null float64
Sqft     108 non-null float64
Floor    164 non-null float64
Zip      320 non-null object
dtypes: float64(3), int64(2), object(1)
memory usage: 18.2+ KB

In [580]:
sudf.describe()

          Rent    Beds   Baths     Sqft    Floor
count   333.00  333.00  333.00   108.00   164.00
mean   2492.63    0.82    1.01   528.98    11.20
std     366.88    0.72    0.08   133.05    86.18
min    1500.00    0.00    1.00   280.00     1.00
25%    2200.00    0.00    1.00   447.50     2.00
50%    2525.00    1.00    1.00   512.00     4.00
75%    2800.00    1.00    1.00   600.00     5.00
max    3000.00    3.00    2.00  1090.00  1107.00

In [581]:
sudf[sudf['Floor']>5]

     Rent  Beds  Baths  Sqft  Floor    Zip
3    2500     2      1   NaN      6  10035
29   1815     1      1   596      6  10037
43   1815     1      1   596      6  10037
44   2950     0      1   NaN      7  10036
59   3000     0      1   541      9  10013
74   2295     1      1   NaN     11  10002
77   2999     1      1   NaN     12  10012
87   2350     2      1   550      6  10003
93   2550     0      1   425     14  10006
110  2400     0      1   550      8  10002
158  2299     0      1   NaN      8  10006
165  2788     1      1   514      9  10006
166  2950     1      1   530     10  10002
179  2595     0      1   438      7  10002
183  2250     1      1   NaN      6  10009
190  2950     1      1   550      6  10280
193  2995     2      1   550      6  10038
198  2800     0      1   687     14  10038
209  2950     1      1   522     16  10017
213  2995     0      1   583     11  10004
221  2525     0      1   NaN     16  10038
223  2650     0      1   452     32  10005
232  2699     0      1   500      7  10003
233  2000     0      1   NaN      7  10038
245  2600     0      1   496      9  10038
246  2545     0      1   620     14  10280
290  3000     1      1   400      9  10017
296  2975     0      1   NaN      9  10001
297  2350     0      1   500     10  10016
308  2500     0      1   540      9  10025
314  2500     0      1   485     20  10016
318  2200     0      1   NaN   1107  10017
327  2600     0      1   NaN      8  10065

In [582]:
suf[suf['Floor'].astype(float)>25].T

,327,470
﻿routablemask_link,http://www.zillow.com/homedetails/75-Wall-St-APT-32H-New-York-NY-10005/89330333_zpid/,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/
routablemask_link/_text,10 photos,5 photos
routablemask_link/_title,NaN,NaN
routablemask_link_numbers,10,5
routablemask_content,NaN,NaN
imagebadge_value,10 photos,5 photos
imagebadge_value_numbers,10,5
routable_link,http://www.zillow.com/homedetails/75-Wall-St-APT-32H-New-York-NY-10005/89330333_zpid/,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/
routable_link/_text,"75 Wall St APT 32H, New York, NY10005","304 E 41st St APT 1107A, New York, NY10017"
routable_link/_title,"75 Wall St APT 32H, New York, NY Real Estate","304 E 41st St APT 1107A, New York, NY Real Estate"
routable_link_numbers,75; 32,304; 41; 1107
listingtype_value,Apartment For Rent,Apartment For Rent
pricelarge_value,"$2,650/mo","$2,200/mo"
pricelarge_value_prices,2.65e+03,2.2e+03
propertyinfo_value,Studio • 1 ba • 452 sqft • 452 sqft lot • Built 1987,Studio • 1 ba
propertyinfo_value_numbers,1; 452; 452; 1987,1
fineprint_value,NaN,NaN
fineprint_value_numbers,NaN,NaN
tozcount_number,NaN,NaN
tozfresh_value,NaN,NaN
tablegrouped_values,NaN,NaN
tablegrouped_values_prices,NaN,NaN
_PAGE_NUMBER,14,19
Baths,1,1
Beds,Studio,Studio
Sqft,452,NaN
Floor,32,1107
Zip,10005,10017

In [1201]:
# index 318 was the problem listing, so we'll drop it
sudf = sudf.drop([318])

In [1205]:
sudf.describe()

          Rent    Beds   Baths     Sqft   Floor
count   332.00  332.00  332.00   108.00  163.00
mean   2493.51    0.82    1.01   528.98    4.48
std     367.08    0.72    0.08   133.05    3.86
min    1500.00    0.00    1.00   280.00    1.00
25%    2200.00    0.00    1.00   447.50    2.00
50%    2527.50    1.00    1.00   512.00    4.00
75%    2800.00    1.00    1.00   600.00    5.00
max    3000.00    3.00    2.00  1090.00   32.00

In [1206]:
sudf.pivot_table('Rent', 'Zip', 'Beds', aggfunc='mean')

Beds         0        1        2     3
Zip
10001  2737.50      NaN      NaN   NaN
10002  2283.44  2422.51  2792.65   NaN
10003  2109.89  2487.81  2525.00   NaN
10004  2798.75  2850.00      NaN   NaN
10005  2516.00      NaN      NaN   NaN
10006  2611.00  2788.00      NaN   NaN
10009  2200.91  2568.44  2530.00   NaN
10010      NaN  2299.00  2940.00   NaN
10011  2774.67  2852.00  2595.00   NaN
10012  2547.00  2744.91  2581.67   NaN
10013  2709.29  2584.44  2650.00   NaN
10014  2450.00      NaN      NaN   NaN
10016  2615.00  2450.00      NaN   NaN
10017      NaN  2733.33      NaN   NaN
10019  2195.00  2661.67  2925.00   NaN
10021  1900.00  2388.33  2500.00   NaN
10022  2170.00      NaN      NaN   NaN
10023  2165.00  2773.33      NaN   NaN
10024  2322.50  2621.50      NaN   NaN
10025  2500.00      NaN      NaN   NaN
10026      NaN  2800.00      NaN   NaN
10027      NaN  1850.00      NaN   NaN
10028  2100.00  2333.33      NaN   NaN
10029  1597.50  2097.50  2650.00   NaN
10031      NaN      NaN  2531.25  2700
10032      NaN      NaN  2047.50  2350
10033      NaN  1825.00      NaN   NaN
10034      NaN      NaN  1900.00   NaN
10035  1795.00  1948.33  2350.00   NaN
10036  2950.00  2357.50  2700.00   NaN
10037      NaN  1815.00      NaN   NaN
10038  2602.22  2395.00  2647.50   NaN
10040      NaN  1550.00      NaN   NaN
10065  2547.50  2131.67      NaN   NaN
10075  2000.00  2625.00  2695.00   NaN
10128      NaN      NaN  2900.00   NaN
10280  2695.00  2972.50      NaN   NaN
11101      NaN      NaN  2393.00   NaN
11206      NaN      NaN  2600.00   NaN
11209      NaN      NaN  1995.00   NaN
11229      NaN  2595.00      NaN   NaN

In [1199]:
sudf.pivot_table('Rent', 'Zip', 'Beds', aggfunc='count')

Beds    0   1   2   3
Zip
10001   2 NaN NaN NaN
10002  16  39  17 NaN
10003   9  16   2 NaN
10004   4   1 NaN NaN
10005   4 NaN NaN NaN
10006   4   1 NaN NaN
10009  11  34   8 NaN
10010 NaN   1   1 NaN
10011   3   1   1 NaN
10012   5  11   3 NaN
10013   7   9   2 NaN
10014   1 NaN NaN NaN
10016   3   1 NaN NaN
10017 NaN   3 NaN NaN
10019   1   3   1 NaN
10021   1   3   1 NaN
10022   1 NaN NaN NaN
10023   3   3 NaN NaN
10024   6   2 NaN NaN
10025   1 NaN NaN NaN
10026 NaN   2 NaN NaN
10027 NaN   2 NaN NaN
10028   2   3 NaN NaN
10029   2   4   1 NaN
10031 NaN NaN   4   1
10032 NaN NaN   2   1
10033 NaN   1 NaN NaN
10034 NaN NaN   1 NaN
10035   1   3   2 NaN
10036   1   2   1 NaN
10037 NaN   2 NaN NaN
10038   9   1   2 NaN
10040 NaN   1 NaN NaN
10065   2   3 NaN NaN
10075   2   2   1 NaN
10128 NaN NaN   2 NaN
10280   4   2 NaN NaN
11101 NaN NaN   1 NaN
11206 NaN NaN   1 NaN
11209 NaN NaN   1 NaN
11229 NaN   1 NaN NaN

## Create a Property Heatmap

In [1372]:
su_lt_two = sudf[sudf['Beds']<2]

In [678]:
import folium

In [1374]:
map = folium.Map(location=[40.748817, -73.985428], zoom_start=13)
map.geo_json(geo_path=r'/Users/alexcombs/Downloads/nyc.json', data=su_lt_two,
             columns=['Zip', 'Rent'],
             key_on='feature.properties.postalCode',
             threshold_scale=[1700.00, 1900.00, 2100.00, 2300.00, 2500.00, 2750.00],
             fill_color='YlOrRd', fill_opacity=0.7, line_opacity=0.2,
             legend_name='Rent (%)',
              reset=True)
map.create_map(path='nyc.html')

In [1187]:
sudf

     Rent  Beds  Baths  Sqft  Floor    Zip
0    1750     1    1.0   NaN    NaN  10035
1    3000     2    2.0  1016      2  10031
2    2300     0    1.0   NaN    NaN  10028
3    2500     2    1.0   NaN      6  10035
4    2800     2    1.0   NaN    NaN  10012
5    2490     1    1.0   NaN      4  10036
6    2750     1    1.0   496      5  10021
7    2150     0    1.0   NaN      3  10024
8    2875     1    1.0   NaN      2  10023
9    2225     1    1.0   NaN      4  10036
10   2450     0    1.0   NaN      4  10014
11   1800     1    1.0   NaN    NaN  10027
12   2850     1    1.0   700      4  10023
13   2700     1    1.0   NaN    NaN  10009
14   3000     0    1.0   487    NaN    NaN
15   2995     2    1.0   NaN    NaN  10002
16   2700     1    1.0   525    NaN  10009
17   2800     2    1.0   650    NaN  10002
18   2850     1    1.0   NaN    NaN  10009
19   2199     1    1.0   NaN      2  10002
20   2895     0    1.0   NaN      2  10013
21   2200     1    1.0   NaN    NaN  10002
22   2600     0    1.0   406    NaN  10004
23   2300     0    1.0   350      4  10023
24   2400     0    1.0   NaN      1  10024
25   2195     0    1.0   400      3  10024
26   2800     1    1.0   600      3  10026
27   2495     1    1.0   NaN      4  10019
28   1900     1    1.0   NaN    NaN  10065
29   1815     1    1.0   596      6  10037
30   2700     1    1.0   525    NaN  10009
31   2800     2    1.0   650    NaN  10002
32   2850     1    1.0   NaN    NaN  10009
33   2199     1    1.0   NaN      2  10002
34   2895     0    1.0   NaN      2  10013
35   2200     1    1.0   NaN    NaN  10002
36   2600     0    1.0   406    NaN  10004
37   2300     0    1.0   350      4  10023
38   2400     0    1.0   NaN      1  10024
39   2195     0    1.0   400      3  10024
40   2800     1    1.0   600      3  10026
41   2495     1    1.0   NaN      4  10019
42   1900     1    1.0   NaN    NaN  10065
43   1815     1    1.0   596      6  10037
44   2950     0    1.0   NaN      7  10036
45   2950     0    1.0   NaN    NaN    NaN
46   2300     2    1.0   600    NaN  10038
47   2700     2    1.0   NaN    NaN  10003
48   2395     1    1.0   NaN      3  10003
49   2600     1    1.0   NaN    NaN  10013
50   2550     0    1.0   515      5  10280
51   2650     0    1.0   NaN      2  10013
52   2150     0    1.0   450    NaN  10002
53   2200     1    1.0   NaN    NaN  10003
54   2300     1    1.0   NaN      5  10013
55   2995     1    1.0   650      4  10002
56   2150     0    1.0   NaN    NaN  10009
57   2415     2    1.0   NaN    NaN  10009
58   2400     0    1.0   535      2  10005
59   3000     0    1.0   541      9  10013
60   1925     0    1.0   NaN    NaN  10009
61   2550     1    1.0   650      4  10002
62   2800     2    1.0   NaN      2  10002
63   2295     1    1.0   NaN      1  10003
64   2050     1    1.0   NaN    NaN  10002
65   1895     0    1.0   NaN      2  10003
66   2750     1    1.0   550      4  10009
67   2530     1    1.0   NaN      3  10002
68   2600     2    1.0   NaN    NaN  10013
69   2730     0    1.0   483      5  10280
70   2350     1    1.0   326      2  10002
71   2595     1    1.0   NaN    NaN  10002
72   2675     1    1.0   475    NaN  10002
73   2995     1    1.0   NaN    NaN  10013
74   2295     1    1.0   NaN     11  10002
..    ...   ...    ...   ...    ...    ...
258  2925     0    1.0   440    NaN    NaN
259  2495     0    1.0   NaN    NaN  10065
260  3000     2    2.0  1090    NaN  10031
261  2200     0    1.0   425      3  10075
262  2695     2    1.0   NaN      2  10075
263  2595     0    1.0   NaN    NaN  10024
264  2850     2    1.0   NaN    NaN  10128
265  2995     0    1.0   NaN    NaN  10016
266  2595     1    1.0   NaN      4  10023
267  2400     1    1.0   450    NaN  10003
268  2750     1    1.0   510      5  10024
269  2095     1    1.0   750    NaN  10035
270  1850     1    1.0   NaN      2  10029
271  2650     2    1.5   NaN      1  10029
272  2250     1    1.0   NaN      4  10028
273  2299     1    1.0   NaN      2  10010
274  2620     0    1.0   421    NaN    NaN
275  2400     2    1.0   685    NaN  10031
276  2947     1    1.0   NaN    NaN  10009
277  1825     1    1.0   NaN      2  10033
278  2200     2    1.0   NaN      4  10035
279  1500     0    1.0   NaN      1  10029
280  1695     0    1.0   NaN    NaN  10029
281  2950     0    1.0   NaN    NaN  10011
282  2595     1    1.0   NaN    NaN  10029
283  2800     1    1.0   650      2  10075
284  2450     1    1.0   NaN      3  10016
285  1900     1    1.0   NaN      5  10027
286  1900     0    1.0   NaN      2  10028
287  2950     2    1.0   NaN      3  10128
288  1550     1    1.0   NaN      5  10040
289  2000     1    1.0   400      5  10035
290  3000     1    1.0   400      9  10017
291  2595     1    1.0   NaN    NaN  10065
292  2700     3    1.0   NaN    NaN  10031
293  2600     1    1.0   NaN    NaN  10028
294  1900     0    1.0   NaN      2  10021
295  2925     0    1.0   NaN      5  10011
296  2975     0    1.0   NaN      9  10001
297  2350     0    1.0   500     10  10016
298  2700     2    1.0   NaN    NaN  10036
299  2449     0    1.0   NaN    NaN  10011
300  2852     1    1.0   NaN      5  10011
301  2393     2    1.0   NaN    NaN  11101
302  2885     0    1.0   432    NaN    NaN
303  2095     2    1.0   900      2  10032
304  2000     2    1.0   NaN      2  10032
305  2095     1    1.0   NaN      1  10029
306  2250     1    1.0   NaN    NaN  10017
307  2450     1    1.0   NaN      3  10075
308  2500     0    1.0   540      9  10025
309  2500     2    1.0   NaN    NaN  10021
310  1800     0    1.0   NaN      5  10075
311  2495     1    1.0   NaN    NaN  10003
312  2950     0    1.0   NaN    NaN    NaN
313  2950     0    1.0   NaN    NaN    NaN
314  2500     0    1.0   485     20  10016
315  2595     2    1.0   600      2  10011
316  2965     0    1.0   522    NaN    NaN
317  2815     0    1.0   480    NaN    NaN
318   NaN   NaN    NaN   NaN    NaN    NaN
319  2195     0    1.0   NaN    NaN  10009
320  2995     1    1.0   475      3  10019
321  1895     0    1.0   NaN    NaN  10023
322  2493     1    1.0   500      2  10024
323  2925     2    1.0   NaN      2  10019
324  2940     2    1.0   NaN      3  10010
325  2170     0    1.0   NaN      2  10022
326  2300     0    1.0   400      3  10003
327  2600     0    1.0   NaN      8  10065
328  2265     1    1.0   NaN    NaN  10021
329  2150     1    1.0   NaN      4  10028
330  2195     0    1.0   NaN      3  10019
331  1795     0    1.0   550    NaN  10035
332  2150     1    1.0   NaN      2  10021

[333 rows x 6 columns]

## Regression Modeling

In [1851]:
su_lt_two.sort('Zip')

       Rent  Beds  Baths  Sqft  Floor    Zip
257    2500     0      1   NaN      4  10001
296    2975     0      1   NaN      9  10001
74     2295     1      1   NaN     11  10002
137    1950     0      1   NaN      5  10002
72     2675     1      1   475    NaN  10002
71     2595     1      1   NaN    NaN  10002
70     2350     1      1   326      2  10002
76     2350     1      1   NaN    NaN  10002
138    2250     0      1   500    NaN  10002
64     2050     1      1   NaN    NaN  10002
61     2550     1      1   650      4  10002
143    1600     1      1   300    NaN  10002
148    1995     0      1   NaN    NaN  10002
55     2995     1      1   650      4  10002
52     2150     0      1   450    NaN  10002
67     2530     1      1   NaN      3  10002
242    2400     1      1   422      3  10002
116    2650     1      1   NaN    NaN  10002
81     1995     1      1   NaN    NaN  10002
110    2400     0      1   550      8  10002
118    2700     1      1   NaN    NaN  10002
119    1750     0      1   NaN      3  10002
106    2400     0      1   500    NaN  10002
105    2295     1      1   NaN      1  10002
104    2595     1      1   NaN      2  10002
135    2600     1      1   NaN    NaN  10002
103    2695     1      1   NaN      4  10002
101    2050     1      1   NaN    NaN  10002
98     2800     1      1   750      1  10002
130    2975     1      1   NaN      4  10002
134    2100     1      1   NaN    NaN  10002
84     2995     1      1   NaN    NaN  10002
83     2750     1      1   400      2  10002
122    2650     1      1   NaN    NaN  10002
136    2250     0      1   500    NaN  10002
229    2800     0      1   450      2  10002
196    1850     1      1   500      1  10002
19     2199     1      1   NaN      2  10002
202    2600     1      1   NaN    NaN  10002
241    1895     0      1   450      4  10002
192    3000     0      1   NaN      1  10002
191    2195     1      1   NaN      4  10002
181    2400     1      1   NaN      3  10002
179    2595     0      1   438      7  10002
239    1895     1      1   NaN    NaN  10002
33     2199     1      1   NaN      2  10002
21     2200     1      1   NaN    NaN  10002
205    2300     0      1   480    NaN  10002
35     2200     1      1   NaN    NaN  10002
176    2100     1      1   NaN    NaN  10002
173    3000     1      1   NaN    NaN  10002
224    2000     0      1   NaN    NaN  10002
166    2950     1      1   530     10  10002
217    2500     1      1   NaN    NaN  10002
216    2000     0      1   NaN    NaN  10002
236    2800     0      1   NaN    NaN  10002
170    1950     1      1   NaN    NaN  10002
94     2800     1      1   NaN    NaN  10003
95     2250     0      1   350      1  10003
232    2699     0      1   500      7  10003
99     2250     1      1   NaN      5  10003
133    1890     0      1   NaN    NaN  10003
311    2495     1      1   NaN    NaN  10003
88     1975     0      1   NaN    NaN  10003
107    2400     0      1   NaN    NaN  10003
326    2300     0      1   400      3  10003
128    2800     1      1   NaN      3  10003
111    2500     1      1   500      1  10003
132    1975     1      1   NaN      4  10003
267    2400     1      1   450    NaN  10003
243    2850     1      1   NaN    NaN  10003
48     2395     1      1   NaN      3  10003
238    2900     1      1   NaN    NaN  10003
184    2350     1      1   500      1  10003
141    1900     1      1   NaN    NaN  10003
...     ...   ...    ...   ...    ...    ...
268    2750     1      1   510      5  10024
38     2400     0      1   NaN      1  10024
263    2595     0      1   NaN    NaN  10024
25     2195     0      1   400      3  10024
24     2400     0      1   NaN      1  10024
39     2195     0      1   400      3  10024
7      2150     0      1   NaN      3  10024
322    2493     1      1   500      2  10024
308    2500     0      1   540      9  10025
40     2800     1      1   600      3  10026
26     2800     1      1   600      3  10026
11     1800     1      1   NaN    NaN  10027
285    1900     1      1   NaN      5  10027
293    2600     1      1   NaN    NaN  10028
329    2150     1      1   NaN      4  10028
286    1900     0      1   NaN      2  10028
2      2300     0      1   NaN    NaN  10028
272    2250     1      1   NaN      4  10028
279    1500     0      1   NaN      1  10029
282    2595     1      1   NaN    NaN  10029
280    1695     0      1   NaN    NaN  10029
305    2095     1      1   NaN      1  10029
270    1850     1      1   NaN      2  10029
256    1850     1      1   NaN    NaN  10029
277    1825     1      1   NaN      2  10033
289    2000     1      1   400      5  10035
0      1750     1      1   NaN    NaN  10035
269    2095     1      1   750    NaN  10035
331    1795     0      1   550    NaN  10035
5      2490     1      1   NaN      4  10036
44     2950     0      1   NaN      7  10036
9      2225     1      1   NaN      4  10036
43     1815     1      1   596      6  10037
29     1815     1      1   596      6  10037
144    2195     0      1   NaN      2  10038
233    2000     0      1   NaN      7  10038
198    2800     0      1   687     14  10038
195    3000     0      1   488    NaN  10038
178    2395     1      1   NaN      5  10038
156    2850     0      1   NaN    NaN  10038
230    2800     0      1   NaN      3  10038
245    2600     0      1   496      9  10038
221    2525     0      1   NaN     16  10038
114    2650     0      1   515    NaN  10038
288    1550     1      1   NaN      5  10040
42     1900     1      1   NaN    NaN  10065
327    2600     0      1   NaN      8  10065
28     1900     1      1   NaN    NaN  10065
291    2595     1      1   NaN    NaN  10065
259    2495     0      1   NaN    NaN  10065
261    2200     0      1   425      3  10075
283    2800     1      1   650      2  10075
310    1800     0      1   NaN      5  10075
307    2450     1      1   NaN      3  10075
163    2955     0      1   NaN    NaN  10280
50     2550     0      1   515      5  10280
201    2995     1      1   602      4  10280
69     2730     0      1   483      5  10280
246    2545     0      1   620     14  10280
190    2950     1      1   550      6  10280
220    2595     1      1   NaN    NaN  11229
14     3000     0      1   487    NaN    NaN
45     2950     0      1   NaN    NaN    NaN
249    2720     0      1   572    NaN    NaN
252    2940     0      1   280    NaN    NaN
253    2945     0      1   412    NaN    NaN
255    2500     0      1   NaN    NaN    NaN
258    2925     0      1   440    NaN    NaN
274    2620     0      1   421    NaN    NaN
302    2885     0      1   432    NaN    NaN
312    2950     0      1   NaN    NaN    NaN
313    2950     0      1   NaN    NaN    NaN
316    2965     0      1   522    NaN    NaN
317    2815     0      1   480    NaN    NaN
SqftC   NaN   NaN    NaN   NaN    NaN    NaN

[276 rows x 6 columns]

In [1903]:
import patsy
import statsmodels.api as sm

f = 'Rent ~ Zip + Beds'
y, X = patsy.dmatrices(f, su_lt_two, return_type='dataframe')

In [1904]:
results = sm.OLS(y, X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Rent   R-squared:                       0.377
Model:                            OLS   Adj. R-squared:                  0.283
Method:                 Least Squares   F-statistic:                     4.034
Date:                Sat, 31 Oct 2015   Prob (F-statistic):           1.21e-10
Time:                        16:35:02   Log-Likelihood:                -1856.8
No. Observations:                 262   AIC:                             3784.
Df Residuals:                     227   BIC:                             3908.
Df Model:                          34
================================================================================
                   coef    std err          t      P>|t|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------
Intercept     2737.5000    219.893     12.449      0.000      2304.207  3170.793
Zip[T.10002]  -503.2729    226.072     -2.226      0.027      -948.740   -57.806
Zip[T.10003]  -519.1638    230.290     -2.254      0.025      -972.943   -65.384
Zip[T.10004]    29.8051    260.334      0.114      0.909      -483.175   542.785
Zip[T.10005]  -221.5000    269.313     -0.822      0.412      -752.174   309.174
Zip[T.10006]  -132.7949    260.334     -0.510      0.610      -645.775   380.185
Zip[T.10009]  -416.4142    227.231     -1.833      0.068      -864.166    31.338
Zip[T.10010]  -646.9746    383.461     -1.687      0.093     -1402.572   108.623
Zip[T.10011]     4.3813    269.543      0.016      0.987      -526.746   535.508
Zip[T.10012]  -197.7638    235.233     -0.841      0.401      -661.283   265.755
Zip[T.10013]  -215.7045    234.573     -0.920      0.359      -677.924   246.515
Zip[T.10014]  -287.5000    380.867     -0.755      0.451     -1037.986   462.986
Zip[T.10016]  -215.8687    269.543     -0.801      0.424      -746.996   315.258
Zip[T.10017]  -212.6413    287.352     -0.740      0.460      -778.860   353.577
Zip[T.10019]  -348.8560    271.376     -1.286      0.200      -883.594   185.882
Zip[T.10021]  -627.6060    271.376     -2.313      0.022     -1162.344   -92.868
Zip[T.10022]  -567.5000    380.867     -1.490      0.138     -1317.986   182.986
Zip[T.10023]  -372.5707    254.885     -1.462      0.145      -874.814   129.673
Zip[T.10024]  -392.3687    246.100     -1.594      0.112      -877.302    92.564
Zip[T.10025]  -237.5000    380.867     -0.624      0.534      -987.986   512.986
Zip[T.10026]  -145.9746    314.148     -0.465      0.643      -764.994   473.045
Zip[T.10027] -1095.9746    314.148     -3.489      0.001     -1714.994  -476.955
Zip[T.10028]  -622.5848    261.550     -2.380      0.018     -1137.960  -107.209
Zip[T.10029]  -945.6498    255.640     -3.699      0.000     -1449.382  -441.918
Zip[T.10033] -1120.9746    383.461     -2.923      0.004     -1876.572  -365.377
Zip[T.10035]  -983.8560    271.376     -3.625      0.000     -1518.594  -449.118
Zip[T.10036]  -321.4831    285.429     -1.126      0.261      -883.912   240.946
Zip[T.10037] -1130.9746    314.148     -3.600      0.000     -1749.994  -511.955
Zip[T.10038]  -176.8475    240.922     -0.734      0.464      -651.578   297.883
Zip[T.10040] -1395.9746    383.461     -3.640      0.000     -2151.572  -640.377
Zip[T.10065]  -564.5848    261.550     -2.159      0.032     -1079.960   -49.209
Zip[T.10075]  -529.2373    270.232     -1.958      0.051     -1061.721     3.247
Zip[T.10280]   -19.4915    254.345     -0.077      0.939      -520.670   481.687
Zip[T.11229]  -350.9746    383.461     -0.915      0.361     -1106.572   404.623
Beds           208.4746     44.528      4.682      0.000       120.734   296.215
==============================================================================
Omnibus:                        3.745   Durbin-Watson:                   2.039
Prob(Omnibus):                  0.154   Jarque-Bera (JB):                2.546
Skew:                          -0.012   Prob(JB):                        0.280
Kurtosis:                       2.518   Cond. No.                         84.2
==============================================================================

In [1852]:
results.params

Intercept       2737.50
Zip[T.10002]    -503.27
Zip[T.10003]    -519.16
Zip[T.10004]      29.81
Zip[T.10005]    -221.50
Zip[T.10006]    -132.79
Zip[T.10009]    -416.41
Zip[T.10010]    -646.97
Zip[T.10011]       4.38
Zip[T.10012]    -197.76
Zip[T.10013]    -215.70
Zip[T.10014]    -287.50
Zip[T.10016]    -215.87
Zip[T.10017]    -212.64
Zip[T.10019]    -348.86
Zip[T.10021]    -627.61
Zip[T.10022]    -567.50
Zip[T.10023]    -372.57
Zip[T.10024]    -392.37
Zip[T.10025]    -237.50
Zip[T.10026]    -145.97
Zip[T.10027]   -1095.97
Zip[T.10028]    -622.58
Zip[T.10029]    -945.65
Zip[T.10033]   -1120.97
Zip[T.10035]    -983.86
Zip[T.10036]    -321.48
Zip[T.10037]   -1130.97
Zip[T.10038]    -176.85
Zip[T.10040]   -1395.97
Zip[T.10065]    -564.58
Zip[T.10075]    -529.24
Zip[T.10280]     -19.49
Zip[T.11229]    -350.97
Beds             208.47
dtype: float64

In [1883]:
to_pred_idx = X.iloc[0].index
to_pred_zeros = np.zeros(len(to_pred_idx))
tpdf = pd.DataFrame(to_pred_zeros, index=to_pred_idx, columns=['value'])

In [1884]:
tpdf

              value
Intercept         0
Zip[T.10002]      0
Zip[T.10003]      0
Zip[T.10004]      0
Zip[T.10005]      0
Zip[T.10006]      0
Zip[T.10009]      0
Zip[T.10010]      0
Zip[T.10011]      0
Zip[T.10012]      0
Zip[T.10013]      0
Zip[T.10014]      0
Zip[T.10016]      0
Zip[T.10017]      0
Zip[T.10019]      0
Zip[T.10021]      0
Zip[T.10022]      0
Zip[T.10023]      0
Zip[T.10024]      0
Zip[T.10025]      0
Zip[T.10026]      0
Zip[T.10027]      0
Zip[T.10028]      0
Zip[T.10029]      0
Zip[T.10033]      0
Zip[T.10035]      0
Zip[T.10036]      0
Zip[T.10037]      0
Zip[T.10038]      0
Zip[T.10040]      0
Zip[T.10065]      0
Zip[T.10075]      0
Zip[T.10280]      0
Zip[T.11229]      0
Beds              0

In [1896]:
tpdf['value'] = 0
tpdf.loc['Intercept'] = 1
tpdf.loc['Beds'] = 2
tpdf.loc['Zip[T.10002]'] = 1

In [1897]:
tpdf

              value
Intercept         1
Zip[T.10002]      1
Zip[T.10003]      0
Zip[T.10004]      0
Zip[T.10005]      0
Zip[T.10006]      0
Zip[T.10009]      0
Zip[T.10010]      0
Zip[T.10011]      0
Zip[T.10012]      0
Zip[T.10013]      0
Zip[T.10014]      0
Zip[T.10016]      0
Zip[T.10017]      0
Zip[T.10019]      0
Zip[T.10021]      0
Zip[T.10022]      0
Zip[T.10023]      0
Zip[T.10024]      0
Zip[T.10025]      0
Zip[T.10026]      0
Zip[T.10027]      0
Zip[T.10028]      0
Zip[T.10029]      0
Zip[T.10033]      0
Zip[T.10035]      0
Zip[T.10036]      0
Zip[T.10037]      0
Zip[T.10038]      0
Zip[T.10040]      0
Zip[T.10065]      0
Zip[T.10075]      0
Zip[T.10280]      0
Zip[T.11229]      0
Beds              2

In [1898]:
results.predict(tpdf['value'])

2651.1763504369078